[submodule "KoboldAI-Horde"]
	path = KoboldAI-Horde
	url = https://github.com/Haidra-Org/AI-Horde-Worker
[submodule "KoboldAI-Horde-Bridge"]
	path = KoboldAI-Horde-Bridge
	url = https://github.com/Haidra-Org/AI-Horde-Worker
