numpy
tqdm
requests
optax >= 0.0.5, <= 0.0.9
dm-haiku
ray[default]
jax == 0.2.21
transformers
progressbar2
git+https://github.com/VE-FORBRYDERNE/mesh-transformer-jax@ck
flask
Flask-SocketIO
flask-cloudflared >= 0.0.5
flask-ngrok
