transformers>=4.20.1
Flask
Flask-SocketIO
requests
torch==1.11
flask-cloudflared
flask-ngrok
eventlet
lupa==1.10
markdown
bleach==4.1.0
sentencepiece
protobuf
accelerate
python-socketio[client]
flask_session
marshmallow>=3.13
apispec-webframeworks
