transformers==4.25.1
huggingface_hub>=0.10.1
Flask
Flask-SocketIO
requests
torch >= 1.9, < 1.13
flask-cloudflared==0.0.10
flask-ngrok
flask-cors
eventlet
dnspython==2.2.1
lupa==1.10
markdown
bleach==4.1.0
sentencepiece
protobuf
accelerate
flask_session
marshmallow>=3.13
apispec-webframeworks
loguru
termcolor
git+https://github.com/VE-FORBRYDERNE/mkultra
Pillow
diffusers
psutil
ansi2html
flask_compress
ijson
bitsandbytes
ftfy
pydub
safetensors