torch >= 1.9, < 1.13
numpy
tqdm
requests
dm-haiku == 0.0.5
jax == 0.2.21
jaxlib >= 0.1.69, <= 0.3.7
transformers == 4.28.0
chex == 0.1.5
huggingface_hub==0.12.1
progressbar2
git+https://github.com/VE-FORBRYDERNE/mesh-transformer-jax@ck
Flask==2.2.3
Flask-SocketIO==5.3.2
python-socketio==5.7.2
flask-cloudflared==0.0.10
flask-ngrok
flask-cors
eventlet==0.33.3
dnspython==2.2.1
lupa==1.10
markdown
bleach==4.1.0
flask-session==0.4.0
marshmallow>=3.13
apispec-webframeworks
loguru
Pillow
diffusers
psutil
ansi2html
flask_compress
ijson
ftfy
pydub