torch == 2.0
numpy
tqdm
requests
dm-haiku==0.0.9
jax==0.3.25
jaxlib==0.3.25
transformers==4.33.*
chex == 0.1.5
huggingface_hub==0.15.1
progressbar2
git+https://github.com/Zurnaz/mesh-transformer-jax.git@llama_tpu
Flask==2.3.3
Flask-SocketIO==5.3.2
python-socketio==5.7.2
flask-cloudflared==0.0.10
flask-ngrok
flask-cors
Werkzeug==2.3.7
eventlet==0.33.3
dnspython==2.2.1
lupa==1.10
markdown
bleach==4.1.0
flask-session==0.5.0
marshmallow>=3.13
apispec-webframeworks
loguru
Pillow
diffusers
psutil
ansi2html
flask_compress
ijson
ftfy
pydub
sentencepiece
omegaconf