:root {
/*----------------Palette Theme--------------------*/
	--primary_palette: #afc6ff;
	--on_primary_palette: #002d6c;
	--primary_container_palette: #004397;
	--on_primary_container_palette: #d9e2ff;

	--secondary_palette: #f7c5ee;
	--on_secondary_palette: #5c0059;
	--secondary_container_palette: #d663bd;
	--on_secondary_container_palette: #4e0039;

	--tertiary_palette: #a8d473;
	--on_tertiary_palette: #1f3700;
	--tertiary_container_palette: #2f4f00;
	--on_tertiary_container_palette: #c3f18c; 

	--error_palette: #ffb4ab;
	--on_error_palette: #690005;
	--error_container_palette: #93000a;
	--on_error_container_palette: #ffdad6;

	--background_palette: #1b1b1f;
	--on_background_palette:#e3e2e6;
	--layer1_palette: #181818;
	--layer2_palette: #28282D;
	--layer3_palette: #2F2F35;
	--layer4_palette: #35353D;
	--outline_palette: #8e9099;

	--middle_palette: #232328;
	--on_middle_palette: #86868e;
	--surface_palette: #2f2f36;
	--on_surface_palette: #e3e2e6;

/*----------------Advanced Theme--------------------*/
	/*General*/
	--background: #1c1e1f;
	--gamescreen_background: #1c1e1f;
    --input_background: #151717;

    --text: #e0e0e0;
    --text_to_ai_color: #34c5d0;
    --text_edit: #187275;

	--statusbar_color: #1a625fa1;
	--statusbar_text_color: #e0e0e0;
	--scrollbar-color: #1a615e7a;

	/*Buttons*/
	--enabled_button_text: #e0e0e0;
    --enabled_button_background_color: #424243;
    --enabled_button_border_color: #2e2e2fe8;
	--disabled_button_text: #303030;
    --disabled_button_background_color: #495762;
    --disabled_button_border_color: #686c68;

	/*Sequence, AKA Gens Per Action*/
	--sequence_area_background: #1c1e1f;
    --sequence_background: #1c1e1f;
	--sequence_text: #e0e0e0;

	/*Side Menus*/
	--tab_color: #1a625f;

	--flyout_background: #181818;
	--flyout_background_pinned:var(--layer1_palette);

	--setting_background: #242424;
    --setting_text: #e0e0e0;

	--sample_order_select_color: #1d434a;
	--sample_order_select_color_text: #e0e0e0;

	--dropdown_text: #e0e0e0;
	--dropdown_background: #181818;

	--rangeslider_background_color: #1b1b1b;
	--rangeslider_color: #1d434a;
	--rangeslider_circle_color: #385262;

	--help_icon: #c07ec5;
    --tooltip_text:var(--on_secondary_palette);
    --tooltip_background:var(--secondary_palette);
	--setting_category_help_text_color: #E0E0E0;
	
	--setting_footer_border_color: grey;
	--setting_footer_text_color: #e0e0e0;
	--setting_footer_background_color: var(--layer1_palette);

	/*World Info*/
	--wi_card_border_color: #002d6c00;
    --wi_card_border_color_to_ai: #002d6c00;

    --wi_card_bg_color: #1c1c1c;
	--wi_card_text_color: #e0e0e0;

    --wi_card_tag_bg_color: #242424;
	--wi_card_tag_text_color: #e0e0e0;
	
    --wi_tag_color: #1d434a;
	--wi_tag_text_color: #e0e0e0;
	
	/*Popup*/
	--popup_background_color: #121414;
    --popup_title_bar_color: #1a625f;
	--popup_title_bar_color_text: #e0e0e0;

    --popup_item_color: #1c1c1c;
	--popup_item_color_text: #e0e0e0;

	--popup_hover_color: #1a2e30;
	--popup_hover_color_text: #e0e0e0;
	--popup_selected_color: #2c5357;
	--popup_selected_color_text:var(--on_secondary_container_palette_palette);

	--popup_button_color: #1a625f;
	--popup_button_color_text: #e0e0e0;
	--popup_cancel_button_color: #1a625f;
	--popup_cancel_button_color_text: #e0e0e0;
	
	/*Context Bar Colors*/
	--context_colors_memory: #3572A5;
	--context_colors_authors_notes: #f1e05a;
	--context_colors_world_info: #563d7c;
	--context_colors_prompt: #e34c26;
	--context_colors_game_text: #c6538c;
	--context_colors_submit: #ededed;
	--context_colors_unused: white;
	--context_colors_soft_prompt: #000080;
	

    /*Parameters*/
	--scrollbar-size: 7px;
	--light_shadow_value: 0;
	--left_menu_strong_shadow: 0;
	--right_menu_light_shadow: 0;
	--right_menu_strong_shadow: 0;
	--radius_inputbox: 10px;
	--radius_unpinned_menu: 20px;
	--radius_sequence: 10px;
	--radius_settings_background: 10px;
	--radius_buttons: 5px;
	--radius_item_popup: 5px;
	--radius_wi_card: 10px;






/*----------------VARIABLES--------------------*/
	--flyout_menu_closed_width: 0px;
	--setting_menu_closed_width_no_pins_width:  0px;
	--story_options_size: 30%;
	--story_pinned_areas_left: "menuicon options gamescreen lefticon"
								 "menuicon theme theme lefticon"
								 "menuicon inputrow inputrow lefticon";
	--story_pinned_areas_right: "menuicon gamescreen options lefticon"
								 "menuicon theme theme lefticon"
								 "menuicon inputrow inputrow lefticon";
	--story_pinned_area_widths_left: 30px var(--story_options_size) auto 30px;
	--story_pinned_area_widths_right: 30px auto var(--story_options_size) 30px;
	--story_pinned_areas: var(--story_pinned_areas_left);
	--story_pinned_area_widths: var(--story_pinned_area_widths_left);
	--font_size_adjustment: 0px;
}
