:root {
/*----------------Palette Theme--------------------*/
	--primary_palette: #afc6ff;
	--on_primary_palette: #002d6c;
	--primary_container_palette: #004397;
	--on_primary_container_palette: #d9e2ff;

	--secondary_palette: #f7c5ee;
	--on_secondary_palette: #5c0059;
	--secondary_container_palette: #d663bd;
	--on_secondary_container_palette: #4e0039;

	--tertiary_palette: #a8d473;
	--on_tertiary_palette: #1f3700;
	--tertiary_container_palette: #2f4f00;
	--on_tertiary_container_palette: #c3f18c; 

	--error_palette: #ffb4ab;
	--on_error_palette: #690005;
	--error_container_palette: #93000a;
	--on_error_container_palette: #ffdad6;

	--background_palette: #1b1b1f;
	--on_background_palette:#e3e2e6;
	--layer1_palette: #18222a;
	--layer2_palette: #28282D;
	--layer3_palette: #2F2F35;
	--layer4_palette: #35353D;
	--outline_palette: #8e9099;

	--middle_palette: #232328;
	--on_middle_palette: #86868e;
	--surface_palette: #2f2f36;
	--on_surface_palette: #e3e2e6;

/*----------------Advanced Theme--------------------*/
	/*General*/
	--background: #222f3a;
	--gamescreen_background: #12181c;
    --input_background: #121b21;

    --text: #e0e0e0;
    --text_to_ai_color: #cdd9e0;
    --text_edit: #759bc5;

	--statusbar_color: #3e53679e;
	--statusbar_text_color: #e0e0e0;
	--scrollbar-color: #3e536780;

	/*Buttons*/
	--enabled_button_text: #e0e0e0;
    --enabled_button_background_color: #2f4563;
    --enabled_button_border_color: #263a54;
	--disabled_button_text: #303030;
    --disabled_button_background_color: #495762;
    --disabled_button_border_color: #686c68;

	/*Sequence, AKA Gens Per Action*/
	--sequence_area_background: #121b21;
    --sequence_background: #131c22;
	--sequence_text: #cfd7a2;

	/*Side Menus*/
	--tab_color: #2b5471;

	--flyout_background: #18222a;
	--flyout_background_pinned:var(--layer1_palette);

	--setting_background: #273141;
    --setting_text: #e0e0e0;
	
	--button_text: var(--setting_text);
	--button_background: var(--setting_background);

	--sample_order_select_color: #244c65;
	--sample_order_select_color_text: #e0e0e0;

	--dropdown_text: #cfd7a2;
	--dropdown_background: #131c22;

	--rangeslider_background_color: #1f2934;
	--rangeslider_color: #244c65;
	--rangeslider_circle_color: #1b354d;

	--help_icon: #cfd7a2;
    --tooltip_text:var(--on_secondary_palette);
    --tooltip_background:var(--secondary_palette);
	--setting_category_help_text_color: #E0E0E0;
	
	--setting_footer_border_color: grey;
	--setting_footer_text_color: #e0e0e0;
	--setting_footer_background_color: var(--layer1_palette);

	/*World Info*/
	--wi_card_border_color: #eeeeeead;
    --wi_card_border_color_to_ai: #eeeeeead;

    --wi_card_bg_color: #273141;
	--wi_card_text_color: #e0e0e0;

    --wi_card_tag_bg_color: #273141;
	--wi_card_tag_text_color: #e0e0e0;
	
    --wi_tag_color: #244c65;
	--wi_tag_text_color: #e0e0e0;
	
	/*Popup*/
	--popup_background_color: #141c23;
    --popup_title_bar_color: #2b5471;
	--popup_title_bar_color_text: #e0e0e0;

    --popup_item_color: #252f3a;
	--popup_item_color_text: #e0e0e0;

	--popup_hover_color: #1f4358;
	--popup_hover_color_text: #e0e0e0;
	--popup_selected_color: #295c72;
	--popup_selected_color_text:var(--on_secondary_container_palette_palette);

	--popup_button_color: #406494;
	--popup_button_color_text: #e0e0e0;
	--popup_cancel_button_color: #406494;
	--popup_cancel_button_color_text: #e0e0e0;
	
	/*Context Bar Colors*/
	--context_colors_memory: #04325c;
	--context_colors_authors_notes: #165a62;
	--context_colors_world_info: #1864a3;
	--context_colors_prompt: #868686;
	--context_colors_game_text: #63710e;
	--context_colors_submit: #ededed;
	--context_colors_unused: #ffffff24;
	--context_colors_soft_prompt: #141414;

    /*Parameters*/
	--scrollbar-size: 6px;
	--light_shadow_value: 0;
	--left_menu_strong_shadow: 0;
	--right_menu_light_shadow: 0;
	--right_menu_strong_shadow: 0;
	--radius_inputbox: 5px;
	--radius_unpinned_menu: 10px;
	--radius_sequence: 10px;
	--radius_settings_background: 5px;
	--radius_buttons: 5px;
	--radius_item_popup: 2px;
	--radius_wi_card: 5px;
	--radius_settings_button: 5px;






/*----------------VARIABLES--------------------*/
	--flyout_menu_closed_width: 0px;
	--setting_menu_closed_width_no_pins_width:  0px;
	--story_options_size: 30%;
	--story_pinned_areas_left: "menuicon options gamescreen lefticon"
								 "menuicon theme theme lefticon"
								 "menuicon inputrow inputrow lefticon";
	--story_pinned_areas_right: "menuicon gamescreen options lefticon"
								 "menuicon theme theme lefticon"
								 "menuicon inputrow inputrow lefticon";
	--story_pinned_area_widths_left: 30px var(--story_options_size) auto 30px;
	--story_pinned_area_widths_right: 30px auto var(--story_options_size) 30px;
	--story_pinned_areas: var(--story_pinned_areas_left);
	--story_pinned_area_widths: var(--story_pinned_area_widths_left);
	--font_size_adjustment: 0px;
	--game_screen_font_size_adjustment: 1;
}
