/*
	Name: Unicorn
	Author: LightSaveUs
	Version: 0.4
	Description: A theme inspired by the DreamilyAI interface.
*/

:root {
/*----------------Palette Theme--------------------*/
	--primary_palette:#000000;
	--on_primary_palette: #000000;
	--primary_container_palette: #000000;
	--on_primary_container_palette: #000000;

	--secondary_palette: #000000;
	--on_secondary_palette: #000000;
	--secondary_container_palette: #000000;
	--on_secondary_container_palette: #000000;

	--tertiary_palette: #000000;
	--on_tertiary_palette: #000000;
	--tertiary_container_palette: #000000;
	--on_tertiary_container_palette: #000000;

	--background_palette: #000000;
	--on_background_palette:#000000;
	--layer1_palette: #000000;
	--layer2_palette: #000000;
	--layer3_palette: #000000;
	--layer4_palette: #000000;
	--outline_palette: #000000;

	--middle_palette: #000000;
	--on_middle_palette: #000000;
	--surface_palette: #000000;
	--on_surface_palette: #000000;

/*----------------Advanced Theme--------------------*/
	/*General*/
	--background: #f0f0f0;

	--gamescreen_background: #f0f0f0;
	--gamescreen_text: #3d3d3d;

    --input_background: #f0f0f0;
	--input_text: #3d3d3d;

    --text: #f2f1f1;
    --text_to_ai_color: #3d3d3d;
    --text_edit: #3d3d3d;

	--statusbar_color: #e2677180;
	--statusbar_text_color: white;
	--scrollbar-color: #da4f5a00;

	/*Buttons*/
		/*General*/
	--enabled_button_text: #f2f1f1;
    --enabled_button_background_color: #e26771;
    --enabled_button_border_color: #99454c;

	--disabled_button_text: #303030;
    --disabled_button_background_color: #495762;
    --disabled_button_border_color: #686c68;

		/*Home Tab*/
	--button_text: #f2f1f1;
	--button_background: #e26771;
		
		/*Alternate Button*/
	--alternate_button_text: #f2f1f1;
	--alternate_button_background: #e26771;


	/*Sequence, AKA Gens Per Action*/
	--sequence_area_background: #ebebeb;
    --sequence_background: #f0f0f0;
	--sequence_text: #3d3d3d;

	/*Side Menus*/
	--tab_color: #eee;
	--tab_text: #e26771;

	--flyout_background: #ebebeb;
	--flyout_background_pinned: #ebebeb;
	--flyout_text: #3d3d3d;

	--setting_background: #eed9d9;
    --setting_text: #3d3d3d;

	--sample_order_select_color: #e26771;
	--sample_order_select_color_text: #f2f1f1;

	--dropdown_text: #e26771;
	--dropdown_background: #eeeeee;

	--rangeslider_background_color: #828282;
	--rangeslider_color: #e26771;
	--rangeslider_circle_color: #f2f1f1;

	--help_icon: #f6f6f6;
	--tooltip_text: #3d3d3d;--tooltip_background: #f0f0f0;
	--setting_category_help_text_color: #3d3d3d;
	
	--setting_footer_border_color: #acacac;
	--setting_footer_text_color: #3d3d3d;
	--setting_footer_background_color: #e1d1d1;

	/*Palette Card*/
	--palette_card_background: #e9cece;
	--palette_card_text: #5c5c5c;
	--palette_table_border: #5c5c5c;

	/*World Info*/
	--wi_card_border_color: #acacac;
    --wi_card_border_color_to_ai: #acacac;

    --wi_card_bg_color: #ebebeb;
	--wi_card_text_color: #5c5c5c;

    --wi_card_tag_bg_color: #ebebeb;
	--wi_card_tag_text_color: #5c5c5c;
	
    --wi_tag_color: #ebebeb;
	--wi_tag_text_color: #e26771;
	
	/*Popup*/
	--popup_background_color: #eeeeee;
    --popup_title_bar_color: #eeeeee;
	--popup_title_bar_color_text: #e26771;

    --popup_item_color: #eeeeee;
	--popup_item_color_text: #3d3d3d;

	--popup_hover_color: #e9cece;
	--popup_hover_color_text: #e26771;
	--popup_selected_color: #e9cece;
	--popup_selected_color_text: #e26771;

	--popup_button_color: #e26771;
	--popup_button_color_text: #eeeeee;
	--popup_cancel_button_color: #eeeeee;
	--popup_cancel_button_color_text: #e26771;

	--error: #eeeeee;
	--error_text: #3d3d3d;
	--error_title: #eeeeee;
	--error_title_text: #e26771;
	
	/*Context Bar Colors*/
	--context_colors_memory: #3d3d3d;
	--context_colors_authors_notes: #5c5c5c;
	--context_colors_world_info: #b1535a;
	--context_colors_prompt: #e1636e;
	--context_colors_game_text: #c89797;
	--context_colors_submit: #ffffff00;
	--context_colors_unused: #ffffff5c;
	--context_colors_soft_prompt: #222224;

    /*Parameters*/
	--scrollbar-size: 6px;
	--palette_card_shadow: 0;
	--wi_card_shadow: 0;
	--light_shadow_value: 0;
	--left_menu_light_shadow: 0;
	--left_menu_strong_shadow: 0;
	--right_menu_light_shadow: 0;
	--right_menu_strong_shadow: 0;
	--popup_shadow: 0;
	--radius_inputbox: 15px;
	--radius_unpinned_menu: 0px;
	--radius_sequence: 15px;
	--radius_settings_background: 10px;
	--radius_button: 10px;
	--radius_alternate_button: 10px;
	--radius_item_popup: 10px;
	--radius_wi_card: 10px;
	--radius_palette_card: 10px;
	--radius_settings_button: 10px;
	--tabs_rounding: 10px;






/*----------------VARIABLES--------------------*/
	--flyout_menu_closed_width: 0px;
	--setting_menu_closed_width_no_pins_width:  0px;
	--story_options_size: 30%;
	--story_pinned_areas_left:"menuicon options gamescreen lefticon"
								 "menuicon theme theme lefticon"
								 "menuicon inputrow inputrow lefticon";
	--story_pinned_areas_right:"menuicon gamescreen options lefticon"
								 "menuicon theme theme lefticon"
								 "menuicon inputrow inputrow lefticon";
	--story_pinned_area_widths_left: 30pxvar(--story_options_size) auto 30px;
	--story_pinned_area_widths_right: 30pxautovar(--story_options_size) 30px;
	--story_pinned_areas:var(--story_pinned_areas_left);
	--story_pinned_area_widths:var(--story_pinned_area_widths_left);
	--font_size_adjustment: 0px;
	--game_screen_font_size_adjustment: 1;}

/*----------------Custom CSS--------------------*/

/* Boxes */

#input_text, #themetext {
    border-color: #c9c9c9 !important;
}

.fullwidth {
	border-radius: 10px;
    border-color: #c9c9c9 !important;
}

.fullwidth:focus {
    border-color: #e26771 !important;
}

.bias_phrase input {
    border-color: #c9c9c9 !important;
	border-radius: 10px;
}

.bias_phrase input:focus {
	border-color: #e26771 !important;
}

.sequence {
    border-color: #dddddd !important;
}

.sequence:hover {
    filter: brightness(100%) !important;
}

.substitution-card input {
	border-radius: 10px;
}

.substitution-card input:focus {
	border-color: #e26771 !important;
}

/* Buttons */

#adventure_mode {
	border: 1px solid;
	border-color: var(--enabled_button_border_color);
}

.action_button:hover {
	filter: brightness(100%) !important;
}

.action_button:active {
	color: #f2f1f1 !important;
}

.action_button:focus {
	box-shadow: none;
	outline: none !important;
	color: #f2f1f1 !important;
}

.settings_button {
    border: none !important;
}

.settings_button:hover {
    background-color: #ee7e7e !important;
}

.settings_button:focus {
	outline: none !important;
}

.btn-success {
	color: #f2f1f1 !important;
    border-color: #e26771 !important;
	background-color: #e26771 !important;
}

.toggle-off.btn {
	color: #f2f1f1 !important;
	border-color: #828282 !important;
	background-color: #828282 !important;
}

.advanced_theme:hover {
	filter: brightness(100%) !important;
	background-color: #ee7e7e !important;
}

#new-sub-card {
	border-radius: 10px !important;
}

.wi_add_button {
	color: #e26771 !important;
	background: #ebebeb !important;
	border: 1px solid #e26771 !important;
}

.wi_add_button:hover {
	color: #ebebeb !important;
	background: #e26771 !important;
	border: 1px solid #e26771 !important;
}

#debug-dump:hover {
	color: #ee7e7e !important;
}

/* Context Menu */

#context-menu {
	color: #3d3d3d;
	border-color: #c9c9c9 !important;
	background-color: #ebebeb !important;
}

#context-menu > hr {
	border-color: #c9c9c9 !important;
}

.context-menu-item:hover {
	color: #3d3d3d;
	background-color:#c9c9c9 !important;
}

/* Context Viewer */

#context-viewer-header {
    background-color: #a04a51 !important;
}

#context-container {
	background-color: #dedede !important;
}

/* Finder */

#finder {
	color: #3d3d3d !important;
}

.result-highlight {
	color: #f0f0f0;
    background-color: #e26771 !important;
}

.finder-wi-block {
	color: #3d3d3d;
}

/* Icons */

.pinned .menu_pin, .pinned .story_menu_pin {
    color: #e26771 !important;
    filter: brightness(100%) !important;
}

.collapsable_header .material-icons-outlined {
    transform: translateY(7px) translateX(4px);
}

.material-icons-outlined:hover {
	filter: brightness(100%) !important;
}

.substitution-card > .card-left > .material-icons-outlined {
	color: #999 !important;
}

.substitution-card > .card-left > .material-icons-outlined:hover {
	color: #3d3d3d !important;
}

.true-t + label::before {
	filter: brightness(85%);
	color: #999 !important;
}

.true-t:checked + label::before {
	filter: brightness(100%);
	color: #e26771 !important;
}

.oi[folder] {
	color: #e26771 !important;
}

.rename_icon {
	color: #e26771 !important;
}

.search_icon {
	color: #e26771 !important;
}

.search_icon:hover {
	border-radius:5px;
	background-color: #e0e0e0 !important;
}

/* Import */

a {
    color: #5c5c5c !important;
}

a:hover, a:focus {
    color: #e26771 !important;
}

.form-control {
	color: #3d3d3d !important;
	transform: translateX(6px)!important;
	border: 1px solid #c9c9c9 !important;
    background-color: #f0f0f0 !important;
}

/* Lines */

.story_title, hr {
    border-color: #c9c9c9 !important;
}

.settings_footer {
	border-color: #c9c9c9 !important;
}

/* Lists */

.settings_select, .var_sync_system_theme_list {
	border-radius: 10px !important;
	border-color: #c9c9c9 !important;
}

/* Palette */

#palette_area {
    border: 1px solid #d9b7ba !important;
}

/* Popup */

.popup .model_item {
	border: 1px solid #c9c9c9;
}
.popup .popup_load_cancel {
	border: 1px solid #c9c9c9 !important;
}

.popup .item, .popup .title, .popup .popup_list_area {
	border: 1px solid #c9c9c9;
}

.popup .item:hover {
	border-color: #e26771;
}

.popup .item.selected {
	border-color: #e26771;
}

.popup .action_button {
    border-radius: 10px;
	border-color: #e26771;
}

.popup_load_cancel_button {
    border-radius: 10px;
}

.popup .action_button:hover {
	color: #eeeeee;
	border-color: #ee7e7e !important;
	filter: brightness(100%) !important;
	background-color: #ee7e7e !important;
}

.popup_load_cancel_button:hover {
	color: #e26771;
	border-color: #e26771 !important;
    background-color: #e9cece !important;
}

.popup .action_button:focus {
	box-shadow: none;
	outline: none !important;
	color: #eeeeee !important;
}

.popup_load_cancel_button:focus {
	box-shadow: none;
	outline: none !important;
	color: #e26771 !important;
}

#error_message.popup .btn-primary {
	color: #e26771 !important;
	border-color: #e26771 !important;
	background-color: #eeeeee !important;
}

#error_message.popup .btn-primary:hover {
	background-color: #e9cece !important;
}

.btn-primary {
	color: #e26771 !important;
	border-color: #e26771 !important;
	background-color: #eeeeee !important;
}

/* Tabs */

.tabrow span {
	border: none !important;
	box-shadow: inset 0px 0px 2px !important;
}

.tabrow span::before, .tabrow span::after {
	display: none;
	border: none !important;
}

.tabrow span:hover {
	background: #e0e0e0 !important;
}

.tabrow span.selected {
    color: #e26771 !important;
    background: #eeeeee !important;
}

/* Text */

.rawtext {
    font-family: helvetica !important;
}

.rawtext:focus {
	outline: none !important;
}

/* Tooltips */

.tooltip-standard {
	border: none !important;
}

/* World Info */

.tag {
	border: 1px solid #e26771 !important
}

.tag:hover {
	color: #ebebeb !important;
	background: #e26771 !important;
	border: 1px solid #e26771 !important;
}

.world_info_tag_area {
    filter: brightness(100%) !important;
}

.world_info_delete {
	color: #999 !important;
}

.world_info_text {
	color: #3d3d3d !important;
    border-color: #acacac !important;
	filter: brightness(100%) !important;
	background-color: #ebebeb !important;
}

.world_info_title:focus {
	outline: none !important;
	color: #e26771 !important;
}

.WI_Folder_Header .title:focus {
	outline: none !important;
}
