body {
	background-color: #303030;
}

chunk {
	color: #ffffff;
}

#topmenu {
	background-color: #337ab7;
	padding: 10px;
}

#menuitems {
	display: grid;
	grid-template-columns: 80% 20%;
}

#navbar {
	margin: 0px;
}

#navbar li {
	margin-right: 5px;
	background-color: #4787be;
	border-radius: 5px;
}

#navbar li > a {
	color: #ffffff;
	font-weight: bold;
}

#settingsmenu {
	display:none;
	background-color: #295071;
	padding: 10px;
}

#formatmenu {
	display:none;
	background-color: #295071;
	padding: 10px;
}

#connectstatusdiv {
	display: flex;
}

#connectstatusdiv span {
	align-self: center;
}

#gamescreen {
	height: 500px;
	margin-top: 10px;
	padding: 10px;
	display: flex;
	vertical-align: bottom;
	overflow-y: scroll;
	background-color: #262626;
	color: #ffffff;
	font-size: 12pt;
	font-family: "Helvetica";
}

#gamescreen span {
	align-self: flex-end;
}

#gametext {
	max-height: 100%;
	width: 100%;
}

#actionmenu {
	margin-top: 10px;
}

#actionmenuitems {
	
}

#actionmenuitems button {
	width: 80px;
}

#messagefield {
	margin-left: 20px;
}

#inputrow {
	margin-top: 10px;
	padding: 0px;
	width: 100%;
	display: grid;
	grid-template-columns: 90% 10%;
}

#inputrowleft {
	padding-right: 10px;
}

#inputrowright {
	position: relative;
}

#input_text {
	height: 80px;
	resize: none;
	overflow:auto;
	background-color: #404040;
	color: #ffffff;
}

#btnsend {
	width: 100%;
	height: 100%;
}

#waitanim {
	position:absolute;
	top:18px;
	left:5px;	
}

#anoterowcontainer {
	display: none;
}

#anoterow {
	margin-top: 10px;
	padding: 0px;
	width: 100%;
	display: grid;
	grid-template-columns: 90% 10%;
}

#anoterowleft {
	padding-right: 10px;
}

#anoteinput {
	background-color: #404040;
	color: #ffffff;
}

#anoteslidelabel {
	color: #ffffff;
	display: grid;
	grid-template-columns: 80% 20%;
}

#popupcontainer {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	flex-direction: column;
	align-items: center;
}

#popup {
	width: 75%;
	min-width: 500px;
	max-width: 1000px;
	background-color: #262626;
	margin-top: 100px;
}

#popuptitlebar {
	padding: 10px;
	background-color: #337ab7;
}

#popuptitletext {
	height: 100%;
	display: flex;
	align-items:center;
	color: #ffffff;
	font-size: 12pt;
}

#popuplistheader {
	padding-left: 10px;
	display: grid;
	grid-template-columns: 28% 10% 60%;
	color: #737373;
}

#popupcontent {
	height: 325px;
	overflow-y: scroll;
}

#popupfooter {
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
	background-color: #295071;
}

#popupfooter button {
	width: 100px;
	margin-left: 10px;
	margin-right: 10px;
}

#wimenu {
	max-height: 100%;
	width: 100%;
}

#aidgpopup {
	width: 350px;
	background-color: #262626;
	margin-top: 100px;
}

#aidgpromptnum {
	background-color: #404040;
	color: #ffffff;
}

#saveaspopup {
	width: 350px;
	background-color: #262626;
	margin-top: 200px;
}

#saveasoverwrite {
	color: #ff9900;
	font-weight: bold;
	text-align: center;
}

#loadpopup {
	width: 500px;
	background-color: #262626;
	margin-top: 100px;
}

@media (max-width: 768px) {
	#loadpopup {
		width: 100%;
		background-color: #262626;
		margin-top: 100px;
	}
}

#loadlistcontent {
	height: 325px;
	overflow-y: scroll;
}

#nspopup {
	width: 350px;
	background-color: #262626;
	margin-top: 200px;
}

/*================= Classes =================*/

.aidgpopupcontent {
	padding: 10px 40px 10px 40px;
}

.aidgpopuplistheader {
	color: #737373;
	text-align: center;
}

.anotelabel {
	font-size: 10pt;
	color: #ffffff;
}

.airange {
	width: 100px;
}

.chunkhov:hover {
	color: #c0fc51;
	cursor: pointer;
}

.colorfade {
	-moz-transition:color 1s ease-in;
    -o-transition:color 1s ease-in;
    -webkit-transition:color 1s ease-in;
}
	
.color_orange {
	color: #f7a223;
}

.color_green {
	color: #3bf723;
}

.color_cyan {
	color: #7afaff;
}

.color_red {
	color: #ff0000;	
}

.dropdown-menu {
	background-color: #337ab7;
	width: 200px;
}

.dropdown-item {
	display: block;
	padding: 10px;
	color: #ffffff;
	border-bottom: 1px solid #295071;
}

.dropdown-item:first-child {
	border-top: 1px solid #295071;
}

.dropdown-item:hover {
	background-color: #98bcdb;
	text-decoration: none;
}

.flex {
	display: flex;
}

.formatcolumn {
	width: 25%;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
}

.formatcolumn > div:first-child {
	margin-bottom: 5px;
}

.formatrow {
	
}

.formatlabel {
	color: #ffffff;
	padding-left: 5px;
}

.hidden {
	display: none;
}

.heightfull {
	height: 100%;
}

.heighthalf {
	height: 50%;
}

.helpicon {
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    width: 2.2ex;
    height: 2.4ex;
    font-size: 1.4ex;
    line-height: 1.8ex;
    border-radius: 1.2ex;
    margin-right: 4px;
    padding: 1px;
    color: #295071;
    background: #ffffff;
    border: 1px solid white;
    text-decoration: none;
}

.helpicon:hover {
  cursor: pointer;
}

.helpicon:hover .helptext {
	display: inline-block;
	width: 250px;
	background-color: #1f2931;
	color: #ffffff;
	font-size: 11pt;
	font-weight: normal;
	line-height: normal;
	border-radius: 6px;
	padding: 15px;
	margin-left:10px;
	border: 1px solid #337ab7;

	position: absolute;
	z-index: 1;
}

.helptext {
	display: none;
}

.justifyleft {
	text-align: left;
}

.justifyright {
	text-align: right;
}

.loadlistheader {
	padding-left: 10px;
	display: grid;
	grid-template-columns: 80% 20%;
	color: #737373;
}

.loadlistitem {
	padding: 5px 10px 5px 10px;
	display: grid;
	grid-template-columns: 80% 20%;
	color: #ffffff;
	
	-moz-transition: background-color 0.25s ease-in;
    -o-transition: background-color 0.25s ease-in;
    -webkit-transition: background-color 0.25s ease-in;
}

.loadlistitem:hover {
	cursor: pointer;
	background-color: #688f1f;
}

.navbar .navbar-nav .nav-link:hover {
    border-radius: 5px;
	background-color: #98bcdb;
}

.navbar .navbar-nav .nav-link:focus {
    border-radius: 5px;
	background-color: #98bcdb;
}

.navbar-toggler {
	background-color: #337ab7;
	border: 1px solid #98bcdb;
	height: 45px;
	width: 60px;
	border-radius: 6px;
}

.navbar-toggler:hover {
	background-color: #98bcdb;
}

@media (min-width: 768px) {
	.navbar-toggler {
		display: none;
	}
}

@media (max-width: 768px) {
	.nav-item {
		margin-bottom: 3px;
	}
}

.navbar-button-bar {
	display: block;
	height: 2px;
	width: 42px;
	border: 1px solid #fff;
}

.navbar-button-bar + .navbar-button-bar {
	margin-top: 4px;
}

.navcontainer {
	
}

.popupcontainer {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	flex-direction: column;
	align-items: center;
}

.popuplistitem {
	padding: 5px 10px 5px 10px;
	display: grid;
	grid-template-columns: 30% 10% 60%;
	color: #ffffff;
	
	-moz-transition: background-color 0.25s ease-in;
    -o-transition: background-color 0.25s ease-in;
    -webkit-transition: background-color 0.25s ease-in;
}

.popuplistitem:hover {
	cursor: pointer;
	background-color: #688f1f;
}

.popuplistselected {
	background-color: #688f1f;
}

.popuptitlebar {
	padding: 10px;
	background-color: #337ab7;
}

.popuptitletext {
	height: 100%;
	display: flex;
	align-items:center;
	color: #ffffff;
	font-size: 12pt;
}

.popupfooter {
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
	background-color: #295071;
}

.popupfooter button {
	width: 100px;
	margin-left: 10px;
	margin-right: 10px;
}

.settingitem {
	width: 18%;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
}

.settingsave {
	width: 10%;
	display: inline-block;
}

.settinglabel {
	color: #ffffff;
	display: grid;
	grid-template-columns: 80% 20%;
}

.settingminmax {
	display: grid;
	grid-template-columns: 50% 50%;
}

.settingminmax div {
	font-size: 8pt;
	color: #ffffff;
}

.spacer {
	display: inline-block;
	width: 50px;
}

.wilistitem {
	height: 80px;
	display: grid;
	grid-template-columns: 4% 30% 66%;
	margin-bottom: 10px;
}

.wientry {
	padding-left: 10px;
	background-color: #212122;
}

.wientry > textarea {
	height: 100%;
	resize: none;
	overflow:auto;
	background-color: #404040;
	color: #ffffff;
}

.wikey {
	background-color: #212122;
}

.wikey > input {
	height: 100%;
	background-color: #404040;
	color: #ffffff;
}

.wiremove > button {
	width: 80%;
	overflow: hidden;
	font-size: 12pt;
}