/*----------------Global Colors------------------*/
@media only screen and (max-aspect-ratio: 7/5) {
	:root {
		--flyout_menu_width: 100%;
	}
}
@media only screen and (min-aspect-ratio: 7/5) {
	:root {
		--flyout_menu_width: 402px;
	}
}

/*----------------Custom Range Sliders--------------------*/
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
	  border-color: var(--setting_background);
      width: 100%;
      -webkit-appearance: none;
      background-color: var(--rangeslider_background_color);
	  border-radius: 16px;
    }
	 
    input[type='range']::-webkit-slider-runnable-track {
      height: 16px;
      -webkit-appearance: none;
      color: var(--setting_background);
      margin-top: -1px;
	  border-radius: 16px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 16px;
      -webkit-appearance: none;
      height: 16px;
      cursor: ew-resize;
      background: var(--rangeslider_circle_color);
      box-shadow: -1928px 0 0 1920px var(--rangeslider_color);
	  border-radius: 50%;
    }

	input[type="range"]::-moz-range-progress {
		height: 100%;
	}

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: var(--rangeslider_color);
  border-color: var(--setting_background);
}
input[type="range"]::-moz-range-track {  
  background-color: var(--rangeslider_background_color);
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: var(--rangeslider_color);
  border-color: var(--setting_background);
}
input[type="range"]::-ms-fill-upper {  
  background-color: var(--rangeslider_background_color);
}
/*----------------Folder Tabs--------------------*/
.tabrow {
	text-align: left;
	list-style: none;
	/*margin: 200px 0 20px;*/
	padding: 0;
	padding-left: 40px;
	line-height: 24px;
	height: 26px;
	overflow: hidden;
	font-size: calc(12px + var(--font_size_adjustment));
	font-family: verdana;
	position: relative;
}
.tabrow.nomenu_icon {
	padding-left: 35px;
}
.tabrow span {
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
						  supported by Chrome, Edge, Opera and Firefox */
	border: 1px solid #888;
	background: var(--tab_color);
	color: var(--tab_text);
	/*background: -o-linear-gradient(top, #337ab70 50%, #28507 100%);
	background: -ms-linear-gradient(top, #337ab70 50%, #28507 100%);
	background: -moz-linear-gradient(top, #337ab70 50%, #28507 100%);
	background: -webkit-linear-gradient(top, #337ab70 50%, #28507 100%);
	background: linear-gradient(top, #337ab70 50%, #28507 100%);*/
	display: inline-block;
	position: relative;
	z-index: 0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #AAA;
	text-shadow: 0 1px #AAA;
	margin: 0 -5px;
	padding: 0 15px;
}
.tabrow span.selected {
	background: #FFF;
	color: #333;
	z-index: 2;
	border-bottom-color: #FFF;
}
.tabrow:before {
	position: absolute;
	content: " ";
	width: 100%;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #AAA;
	z-index: 1;
}
.tabrow span:before,
.tabrow span:after {
	border: 1px solid #AAA;
	position: absolute;
	bottom: -1px;
	width: 5px;
	height: 5px;
	content: " ";
}
.tabrow span:before {
	left: -5px;
	border-bottom-right-radius: 6px;
	border-width: 0 1px 1px 0;
	box-shadow: 2px 2px 0 var(--tab_color);
}
.tabrow span:after {
	right: -5px;
	border-bottom-left-radius: 6px;
	border-width: 0 0 1px 1px;
	box-shadow: -2px 2px 0 var(--tab_color);
}
.tabrow span.selected:before {
	box-shadow: 2px 2px 0 #FFF;
}
.tabrow span.selected:after {
	box-shadow: -2px 2px 0 #FFF;
}


/*----------------SETTINGS AREA------------------*/
.menu_pin_area {
	height: 8px;
}

.load_model {
	background-color: var(--enabled_button_background_color);
}

.settings_category {
	width: 100%;
}

.settings_category_area {
	width: 100%;
	/*background: var(--flyout_background);*/
	grid-row: 2;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-color);
}


.setting_tile_area {
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}



.setting_container {
	display: grid;
	grid-template-areas: "label value"
						 "item item"
						 "minlabel maxlabel";
	grid-template-rows: 20px 23px 20px;
	grid-template-columns: 147px 30px;
	row-gap: 0.2em;
	background-color: var(--setting_background);
	color: var(--setting_text);
	border-radius: var(--radius_settings_background);
	padding: 3px;
	margin: 2px;
}

#story_menu_author .setting_container {
	display: grid;
	grid-template-areas: "label value"
						 "item item"
						 "minlabel maxlabel";
	grid-template-rows: 20px 23px 20px;
	grid-template-columns: 288px 60px;
	row-gap: 0.2em;
	background-color: var(--setting_background);
	color: var(--setting_text);
	border-radius: var(--radius_settings_background);
	padding: 3px;
	margin: 2px;
}


.setting_container_single {
	display: grid;
	grid-template-areas: "label"
						 "item";
	grid-template-rows: 20px auto;
	grid-template-columns: 177px;
	row-gap: 0.2em;
	background-color: var(--setting_background);
	color: var(--setting_text);
	border-radius: var(--radius_settings_background);
	padding: 3px;
	margin: 2px;
}
.setting_container_single .setting_item{
	font-size: calc(0.93em + var(--font_size_adjustment));
	margin-left: 10px;
}

.setting_container_single_wide {
	display: grid;
	grid-template-areas: "label"
						 "item";
	grid-template-rows: 20px auto;
	grid-template-columns: 354px;
	row-gap: 0.2em;
	background-color: var(--setting_background);
	color: var(--setting_text);
	border-radius: var(--radius_settings_background);
	padding: 3px;
	margin: 2px;
}
.setting_container_single_wide .setting_item{
	font-size: calc(0.93em + var(--font_size_adjustment));
	margin-left: 10px;
}


.setting_minlabel {
	padding-top: 6px;
	grid-area: minlabel;
	overflow: hidden;
	padding: 5px;
	padding-top: 0px;
	font-size: calc(0.8em + var(--font_size_adjustment));
}

.setting_maxlabel {
	padding-top: 6px;
	grid-area: maxlabel;
	overflow: hidden;
	padding: 5px;
	padding-top: 0px;
	text-align: right;
	font-size: calc(0.8em + var(--font_size_adjustment));
}

.setting_label {
	display: flex;
	grid-area: label;
	overflow: hidden;
	padding: 5px;
	padding-right: 0px;
	padding-top: 0px;
}

.setting_value {
	text-align: right;
	grid-area: value;
	font-size: calc(12px + var(--font_size_adjustment));
	padding: 2px;
	padding-top: 0px;
	background-color: inherit;
	color: inherit;
	border: none; 
	outline: none;
}

.setting_value:focus {
	color: var(--text_edit);
}

.setting_item {
	grid-area: item;
	overflow: hidden;
}

.setting_item_input {
	width:95%;
}


/*-----------------------------------------------*/
.helpicon {
	color: var(--help_icon);
	cursor: help;
	font-size: calc(14px + var(--font_size_adjustment)) !important;
	flex: auto;
	width: 15px;
	align-self: flex-end;
}

/*----------------LEFT FLYOUT MENU------------------*/
.menu_icon {
	position: fixed;
	top:10px;
	left: 5px;
	z-index:50;
	display: inline-block;
	cursor: pointer;
}

@media only screen and (max-aspect-ratio: 7/5) {
/* mobile */
.menu_icon.hidden {
	display: inline-block !important;
}
}

@media only screen and (max-aspect-ratio: 7/5) {
.menu_pin {
	display: none;
}
}
@media only screen and (min-aspect-ratio: 7/5) {
.menu_pin {
	position: absolute;
	top:10px;
	left: calc(var(--flyout_menu_width) - 20px);
	z-index:50;
	width: 25px;
	height: 25px;
	color: #999;
	display: inline-block;
	transition: left 0.5s;
	cursor: pointer;
}
}

.menu_pin.hidden {
	left: 0px;
	display: inline-block;
	width: 0px;
	overflow: hidden;
	transition: left 0.5s;
}

.SideMenu {
	height: 100%;
	z-index: 4;
	width: var(--flyout_menu_width);
	box-shadow: var(--left_menu_strong_shadow);
	position: fixed;
	z-index: 3;
	top: 0;
	right: 100%;
	background-color: var(--flyout_background);
	overflow-x: hidden;
	transition: 0.5s;
	border-radius: 0px var(--radius_unpinned_menu) var(--radius_unpinned_menu) 0px;
	
}

@media only screen and (min-aspect-ratio: 7/5) {
.SideMenu.pinned {
	right: calc(100% - var(--flyout_menu_width));
	background-color: var(--flyout_background_pinned);
	box-shadow: var(--left_menu_light_shadow);
	border-radius: 0px;
}
}

.SideMenu.open {
	right: calc(100% - var(--flyout_menu_width));
}

.SideMenu .flyout_menu_contents {
	overflow-x: hidden;
	overflow-y: auto;
	height: calc(100vh - 40px);
}

.settings_footer {
	border-top:2px;
	border-top-color: var(--setting_footer_border_color);
	border-top-style: solid;
	color: var(--setting_footer_text_color);
	background-color: var(--setting_footer_background_color);
}

.Model_Info{
	position: relative;
	margin: 25px 0 0 10px;
}

.Model_Icon{
	text-align: center;
}

#model_title{
	font-size: calc(1.8em + var(--font_size_adjustment));
	text-align: center;
	padding: 5px 0 0 0;
}

#text_runningmodel{
	position: absolute;
	font-size: calc(0.9em + var(--font_size_adjustment));
	top: -15px;
}


.story_title_area {
	position: relative;
}

/*
.story_title_area .var_sync_story_story_name {
	border-bottom: 1px solid;
	padding-bottom: 3px;
}
*/

.story_title_area .var_sync_story_story_name[contenteditable="true"]:active,
.story_title_area .var_sync_story_story_name[contenteditable="true"]:focus{
	border:none;
	outline:none;
	color: var(--text_edit);
	border-bottom: 1px solid var(--text_edit);
	padding-bottom: 3px;
}

.story_title {
	display: flex;
	justify-content: space-between;
	font-size: calc(1.8em + var(--font_size_adjustment));
	text-align: center;
	border-bottom: 1px;
	border-bottom-style: solid;
	margin-left: 40px;
	margin-right: 40px;
	padding: 10px 0 0 0;
}
#text_storyname{
	font-size: calc(0.9em + var(--font_size_adjustment));
	top: -10px;
	position: absolute;
	margin: 0 0 0 10px;
}

.story_title_icons {
	width: 100%;
	padding: 10px;
	text-align: center;
}

.settings_menu {
	padding-left: 30px;
	padding-top: 7px;
}

.settings_button {
	color: var(--button_text);
	background: var(--button_background);
	border-color: white;
	border-width: 1px;
	border-radius: var(--radius_settings_button);
	border-style:solid;
	height: 35px;
}

.settings_button[story_gamesaved="true"] {
	filter: brightness(40%);
}

.settings_select {
	color: var(--dropdown_text);
	background: var(--dropdown_background);
	margin-left: auto;
	margin-right: 25px;
}

.sample_order.selected {
	background-color: var(--sample_order_select_color);
	color: var(--sample_order_select_color_text);
	padding-left: 3px;
}

.presets option {
	color: var(--dropdown_text);
	background: var(--dropdown_background);
}

.presets {
	padding: 6px 0 9px 0;
	border-radius: 5px;
}

.settings_category_area .presets{
	margin: 5px;
}

.presets optgroup {
	color: var(--dropdown_text);
	background: var(--dropdown_background);
	font-weight: bold;
}

.presets .preset_group {
	font-style: italic;
	background: var(--dropdown_background);
}


.preset_item {
	color: white; /*#2b2a33;*/
}

.menubar1, .menubar2, .menubar3 {
  width: 21px;
  height: 3px;
  background-color: #999;
  margin: 3px 0;
  transition: 0.4s;
}

.change .menubar1 {
  transform: translate(0px, 6px) rotate(-45deg);
}

.change .menubar2 {opacity: 0;}

.change .menubar3 {
  transform: translate(0px, -6px) rotate(45deg);
}

.material-icons-outlined .cursor{
	margin: auto;
}

.var_sync_system_spname{
	bottom: 5px;
}

/* Bias */
#biases_label {
	cursor: pointer;
}

.bias {
	display: grid;
	grid-template-areas: "phrase percent max";
	grid-template-columns: auto 100px 100px;
}

.bias_phrase {
	grid-area: phrase;
	margin-right: 5px;
}

.bias_phrase input {
	width: 100%;
}

.bias_score {
	grid-area: percent;
	margin-right: 5px;
}

.bias_comp_threshold {
	grid-area: max;
	margin-right: 5px;
}

.bias_slider {
	display: grid;
	grid-template-areas: "bar bar bar"
						 "min cur max";
	grid-template-columns: 33px 34px 33px;
}

.bias_slider_bar {
	grid-area: bar;
}

.bias_slider_min {
	grid-area: min;
	font-size: calc(0.8em + var(--font_size_adjustment));
	margin-right: 5px;
	margin-left: 5px;
}

.bias_slider_cur {
	grid-area: cur;
	text-align: center;
}

.bias_slider_max {
	grid-area: max;
	font-size: calc(0.8em + var(--font_size_adjustment));
	text-align: right;
	margin-right: 5px;
	margin-left: 5px;
}

.bias_header {
	display: grid;
	grid-template-areas: "phrase percent max";
	grid-template-columns: auto 100px 100px;
}

.bias_header_phrase {
	grid-area: phrase;
	font-size: calc(0.9em + var(--font_size_adjustment));
}

.bias_header_score {
	grid-area: percent;
	font-size: calc(0.9em + var(--font_size_adjustment));
}

.bias_header_max {
	grid-area: max;
	font-size: calc(0.9em + var(--font_size_adjustment));
}

/* Theme */

.collapsable_header .material-icons-outlined {
	padding-top: 5px;
} 

.var_sync_system_theme_list{
	padding: 6px 0 9px 0;
	margin-left: 10px;
	border-radius: 5px;
	color: var(--dropdown_text);
	background: var(--dropdown_background);
}

#palette_area {
	width: 100%;
	text-align: center;
}

#save_theme_area {
	width: 100%;
	position: relative;
}

#save_theme_name {
	width: 88%;
	margin: 0 0 5px -25px;
}

#palette_area .material-icons-outlined {
	position: absolute;
}

#Palette {
	width: 100%;
}
#Palette_Table{
	width: 100%;
}

.Theme_Input {
	width: 100%;
}

.advanced_theme {
	margin: 10px 10px 0 auto;
	padding: 2px 4px 2px 4px;
	border-radius: var(--radius_wi_card);
	background-color: var(--wi_tag_color);
}
.advanced_theme:hover {
	filter: brightness(85%);
}

/* Tweaks */
.tweak-container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	color: var(--setting_text);
	background-color: var(--setting_background);
	border-radius: var(--radius_settings_background);
	padding: 10px 8px;
	margin-bottom: 5px;
	width: 100%;
}

#Tweaks {
	/* Don't add space under last tweak-container. Also, CSS, why no last-of-class!?!? */
	margin-bottom: 0px;
}

/*----------------RIGHT FLYOUT MENU------------------*/
.right_menu_icon {
	position: fixed;
	top:10px;
	right: 5px;
	z-index:50;
	display: inline-block;
	cursor: pointer;
	grid-area: lefticon;
}

@media only screen and (max-aspect-ratio: 7/5) {
/* mobile */
.right_menu_icon.hidden {
	display: inline-block !important;
}
}

.rightSideMenu {
	z-index: 3;
	height: 100%;
	position: fixed;
	box-shadow: var(--right_menu_strong_shadow);
	z-index: 3;
	top: 0;
	right: 0;
	background-color: var(--flyout_background);
	overflow-x: hidden;
	overflow-y: hidden;
	transition: 0.5s;
	padding-top: 8px;
	border-radius: var(--radius_unpinned_menu) 0px 0px var(--radius_unpinned_menu);
	width: var(--flyout_menu_width);
	left: 100%;
}

.rightSideMenu.open {
	left: calc(100% - var(--flyout_menu_width));
}

@media only screen and (min-aspect-ratio: 7/5) {
/*  Desktop Mode  */
.rightSideMenu.pinned {
	left: calc(100% - var(--flyout_menu_width));
	background-color: var(--flyout_background_pinned);
	box-shadow: var(--right_menu_light_shadow);
	border-radius: 0px 0px 0px 0px;
}
}

.rightSideMenu .flyout_menu_contents {
	overflow-x: hidden;
	overflow-y: hidden;
	height: calc(100vh - 34px);
}


.material-icons-outlined[story_gamesaved="true"] {
	filter: brightness(40%);
}

@media only screen and (max-aspect-ratio: 7/5) {
/* mobile */
.story_menu_pin {
	display: none;
}
}

@media only screen and (min-aspect-ratio: 7/5) {
.story_menu_pin {
	position: absolute;
	top:10px;
	right: calc(var(--flyout_menu_width) - 35px);
	z-index:50;
	width: 25px;
	height: 25px;
	color: #999;
	display: inline-block;
	transition: left 0.5s;
	cursor: pointer;
}
}


table.server_vars {
	border: 1px solid #959595;
}

tr.server_vars {
	margin-top: 0px;
	margin-bottom: 0px;
}

td.server_vars {
	border: 1px solid #959595;
	border-radius: 5px;
	padding: 0px;
	color: #ffffff;
	-moz-transition: all 0.15s ease-in;
	-o-transition: all 0.15s ease-in;
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
	white-space: pre-wrap;
}

.story_category_area:not(#story_menu_wi){
	margin: 10px 10px 0 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-color);
}

#story_menu_wi{
	margin-top: 10px;
}

.story_category_area {
	padding-bottom: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-color);
}

.token_breakdown {
	height: 5px;
	overflow: hidden;
	display: block;
	width: 100%;
	padding-left: 20px;
	padding-right: 35px;
	margin-bottom: 10px;
	flex-shrink: 0;
	cursor: pointer;
}

.token_breakdown div {
	float: left;
	height: 100%;
	text-align: center;
}

.WI_Folder_Header {
	margin-left: 10px;
	display: grid;
	grid-template-areas: "folder expand title upload_box upload download";
	grid-template-columns: 15px 30px auto  0px 25px 35px;
}

.WI_Folder_Header .folder {
	grid-area: folder;
}

.WI_Folder_Header .expand {
	grid-area: expand;
}

.WI_Folder_Header .title {
	grid-area: title;
}

.WI_Folder_Header .upload_box {
	grid-area: upload_box;
	display: none;
}

.WI_Folder_Header .upload {
	grid-area: upload;
}

.WI_Folder_Header .download {
	grid-area: download;
}



#world_info_folder_root.WI_Folder {
	margin-left: 10px;
}

.WI_Folder table {
	margin: 5px;
}

.wi_title {
	position: relative;
	bottom: 4px;
	margin-left: 4px;
}

.wi_add_text {
	position: relative;
	top: 1px;
}

.wi_add_button{
	margin: 0 0 0 10px;
	padding: 4px 4px 4px 4px;
	border-radius: var(--radius_wi_card);
	background-color: var(--wi_tag_color);
}

.wi_add_button .material-icons-outlined{
	position: relative;
	top: 7px;
}

.wi_folder_collapser, .wi_add_button, #new_world_info_button {
	cursor: pointer;
	margin-left: 10px;
}

.world_info_card {
	width: 95%;
	border-radius: var(--radius_wi_card);
	border: 2px outset var(--wi_card_border_color);
	background-color: var(--wi_card_bg_color);
	color:var(--wi_card_text_color);
	margin: 10px;
}

.world_info_card.world_info_included {
	border: 2px outset var(--wi_card_border_color_to_ai);
}
	
.world_info_title_area {
	display: grid;
	margin-left: 2px;
	grid-template-areas: "title delete";
	grid-template-columns: auto 20px;
}

.world_info_title {
	grid-area: title;
}

.world_info_delete {
	grid-area: delete;
	cursor: pointer;
}
	
.world_info_tag_area {
	border: 1px inset var(--wi_card_border_color);
	background-color: var(--wi_card_tag_bg_color);
	color: var(--wi_card_tag_text_color);
	padding: 5px;
	margin: 5px 2px 5px 2px;
	border-radius: var(--radius_wi_card);
	filter: brightness(90%);
}

.world_info_text {
	width: auto;
	margin: 0 2px 0 2px;
	border-radius: var(--radius_wi_card);
	background-color: var(--wi_card_bg_color);
	color: var(--wi_card_text_color);
	border: 2px var(--wi_card_text_color) solid;
	filter: brightness(90%);
}

.tag {
	background-color: var(--wi_tag_color);
	color: var(--wi_tag_text_color);
	padding: 2px;
	margin-right: 2px;
	border-radius: var(--radius_wi_card);
	border: solid;
	border-color: var(--wi_tag_color);
}

.tag .delete_icon {
	cursor: pointer;
}

.oi[folder] {
	margin-right: 5px;
}

.oi[data-glyph="folder"] {
	margin-right: 5px;
}


/* ---------------------------- OVERALL PAGE CONFIG ------------------------------*/
body {
	background-color: var(--background);
	color: var(--text);
	font-size: calc(14px + var(--font_size_adjustment));

	/* Firefox scroll */
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-color);
}

/* Chrome, Safari scrollbar */
::-webkit-scrollbar {
	width: var(--scrollbar-size);
	height: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
	/*background: #9b9b9b80;*/
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-color);
	border-radius: 20px;
	border: transparent;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #cacaca80;
}

@media only screen and (min-aspect-ratio: 7/5) {
/* ------------------- Desktop Mode --------------------------- */
.main-grid {
	transition: margin-left .5s;
	display: grid;
	height: 98vh;
	margin-left: var(--setting_menu_closed_width_no_pins_width);
	margin-right: var(--flyout_menu_closed_width);
	grid-template-areas: "menuicon gamescreen options lefticon"
						 "menuicon theme theme lefticon"
						 "menuicon inputrow inputrow lefticon";
	grid-template-columns: 30px auto var(--story_options_size) 30px;
	grid-template-rows: auto min-content 100px;
}
.main-grid.settings_pinned {
	margin-left: var(--flyout_menu_width);
	grid-template-columns: 30px auto var(--story_options_size) 30px;
}
.main-grid.story_pinned {
	margin-left: var(--flyout_menu_closed_width);
	margin-right: var(--flyout_menu_width);
	grid-template-areas: var(--story_pinned_areas);
	grid-template-columns: var(--story_pinned_area_widths);
}
.main-grid.settings_pinned.story_pinned {
	margin-left: var(--flyout_menu_width);
	margin-right: var(--flyout_menu_width);
	grid-template-areas: "menuicon gamescreen options lefticon"
						 "menuicon theme theme lefticon"
						 "menuicon inputrow inputrow lefticon";
	grid-template-columns: 30px auto var(--story_options_size) 30px;
}
}

@media only screen and (max-aspect-ratio: 7/5) {
/* mobile */
.main-grid {
	transition: margin-left .5s;
	display: grid;
	height: 98vh;
	margin-left: var(--flyout_menu_closed_width);
	grid-template-areas: "menuicon gamescreen lefticon"
					     "menuicon options lefticon"
						 "menuicon theme lefticon"
						 "menuicon inputrow lefticon";
	grid-template-columns: 30px auto 30px;
	grid-template-rows: auto min-content min-content 100px;
}
}



/* ---------------------------------- GAME SCREEN ----------------------------------*/
.gamescreen {
	background-color: var(--gamescreen_background);
	z-index: 2;
	box-shadow: var(--light_shadow_value);
	color: var(--gamescreen_text);
	width: 100%;
	grid-area: gamescreen;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	margin-top: 10px;
	vertical-align: bottom;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: calc((1em*var(--game_screen_font_size_adjustment)) + var(--font_size_adjustment));
	line-height: 1.42857143;
}

#story_prompt[story_prompt_in_ai="true"] {
	color: var(--text_to_ai_color);
	font-weight: bold;
}

.gametext {
	margin-top: auto;
	padding: 0px 5px 10px 10px;
	vertical-align: bottom;
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.gametext::-webkit-scrollbar {
  display: none;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
  border:none;
  outline:none;
  color: var(--text_edit);
}

.gametext span span[title]:not([title=""]) {
	font-style: italic;
}

.sequence_area {
	margin-top: 10px;
	grid-area: options;
	background-color: var(--sequence_area_background);
	overflow-y: scroll;
}

.sequence_area::-webkit-scrollbar {
	display: none;
}

@media only screen and (max-aspect-ratio: 7/5) {
.sequences {
	margin-top: 5px;
	width: 100%;
	border: 0px;
	border-spacing: 0;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}
}

@media only screen and (min-aspect-ratio: 7/5) {
.sequences {
	margin-top: 5px;
	width: 100%;
	border: 0px;
	border-spacing: 0;
	display: flex;
	flex-direction: column;
}
}

.sequence_row {
	scroll-snap-align: start;
	margin-top: 0px;
	margin-bottom: 0px;
	min-width: 100%;
	display: grid;
	grid-template-areas: "text icon";
	grid-template-columns: auto 25px;
}

.sequence {
	margin: 5px 0px 5px 10px;
	border: 2px solid var(--sequence_text);
	box-shadow: var(--light_shadow_value);
	border-radius: var(--radius_sequence);
	width:100%;
	grid-area: text;
	padding: 5px;
	color: var(--sequence_text);
	background-color: var(--sequence_background);
	-moz-transition: all 0.15s ease-in;
	-o-transition: all 0.15s ease-in;
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
	white-space: pre-wrap;
}

.sequnce_icon {
	grid-area: icon;
	padding-left: 10px;
	margin: auto auto auto auto;
}

.sequence:hover {
	filter: brightness(70%);
}


.actions {
	grid-area: actions;
	display: flex;
}

.actions button {
	width: 80px;
	margin-right: 2px;
}

.themerow {
	grid-area: theme;
	width: 500px;
	margin-left: 10px;
}

.themerow .tabrow:before {
	border-bottom: 0;
}
.themerow .tabrow {
	line-height: 25px;
	padding-left: 10px;
	margin-top: 2px;
}

.inputrow {
	grid-area: inputrow;
	z-index: 2;
	display: grid;
	grid-template-areas: "textarea statusbar statusbar statusbar"
						 "textarea submit submit submit"
	                     "textarea back redo retry";
	grid-template-columns: auto 30px 30px 30px;
	grid-template-rows: 0px 60px 40px;
	gap: 1px;
	
}
#random_game_prompt{
	display: flex;
	flex-direction: column;
	grid-area: textarea;
}

#themetext{
	grid-area: textarea;
	height: 100%;
	width: 100%;
	padding: 5px;
	border-radius: var(--radius_inputbox);
}

#input_text {
	grid-area: textarea;
	background-color: var(--input_background);
	color: var(--input_text);
	resize: none;
	border-color: white;
	border-width: 1px;
	border-style:solid;
}

.inputrow.status_bar {
	grid-template-rows: 0px 60px 40px;
}

.inputrow .submit[system_aibusy=false] {
	grid-area: submit;
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.inputrow .submit[system_aibusy=true] {
	grid-area: submit;
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: hidden;
	display: none;
}

.inputrow .submited[system_aibusy=false] {
	grid-area: submit;
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: hidden;
	display: none;
}
.inputrow .submited[system_aibusy=true] {
	grid-area: submit;
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: hidden;
	display: inline;
}

.statusbar_outer {
	color: var(--statusbar_color);
	background-color: transparent;
	grid-area: submit;
	z-index: 4;
	height: 100%;
}

.statusbar_outer.hidden {
	height: 0px;
}

.statusbar_inner {
	background-color: var(--statusbar_color);
	color: var(--statusbar_text_color);
	border-radius: 5px;
	z-index: 0;
	height: 100%;
	text-align: center;
	font-size: calc(0.875em + var(--font_size_adjustment));
}

/*#btnsend{

}*/

#thinking{
	z-index: 9999;
}

.inputrow .back {
	grid-area: back;
	padding: 0px;
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.inputrow .redo {
	grid-area: redo;
	padding: 0px;
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.inputrow .retry {
	grid-area: retry;
	padding: 0px;
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: hidden;
}

@media only screen and (min-aspect-ratio: 7/5) {
	.paddingimage {
		grid-area: paddingimage;
		margin: auto auto auto auto;
	}

}

@media only screen and (max-aspect-ratio: 7/5) {
	.paddingimage {
		visibility: hidden;
	}
}

/*---------------------------------- Popups -------------------------------------------------*/
@media only screen and (max-aspect-ratio: 7/5) {
	.popup {
		position: absolute;
		top: 10vh;
		left: 10%;
		z-index: 999;
		width: 80%;
		height: 80vh;
		border-radius: 15px;
		box-shadow: var(--popup_shadow);
		background-color: var(--popup_background_color);
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}
}

@media only screen and (min-aspect-ratio: 7/5) {
	.popup {
		position: absolute;
		top: 10vh;
		left: 25%;
		z-index: 999;
		width: 50%;
		height: 80vh;
		border-radius: 15px;
		box-shadow: var(--popup_shadow);
		background-color: var(--popup_background_color);
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}
}

.popup .title {
	width: 100%;
	background-color: var(--popup_title_bar_color);
	color: var(--popup_title_bar_color_text);
	text-align: center;
	font-size: calc(1.3em + var(--font_size_adjustment));
}

.popup .action_button {
	background-color: var(--popup_button_color);
	color: var(--popup_button_color_text);
}

.popup .popup_list_area {
	overflow-x: hidden;
	overflow-y: scroll;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}

.popup .model_item {
	width: 98%;
	background-color: var(--popup_item_color);
	color: var(--popup_item_color_text);
	margin: 5px 0 5px 1%;
	border-radius: var(--radius_item_popup);
	padding: 2px;
	display: grid;
	grid-template-areas: "folder_icon delete_icon edit_icon rename_icon file gpu_size";
	grid-template-columns: 30px 0px 0px 0px auto 50px;
	
}

.popup .model_item .folder_icon {
	grid-area: folder_icon;
}

.popup .model_item .edit_icon {
	grid-area: edit_icon;
}

.popup .model_item .rename_icon {
	grid-area: rename_icon;
}

.popup .model_item .delete_icon {
	grid-area: delete_icon;
}

.popup .model_item .model {
	cursor: pointer;
	grid-area: file;
}

.popup .item{
	width: 98%;
	background-color: var(--popup_item_color);
	color: var(--popup_item_color_text);
	margin: 5px 0 5px 1%;
	border-radius: var(--radius_item_popup);
	padding: 2px;

}

.popup .item:hover {
	background-color: var(--popup_hover_color);
	color: var(--popup_hover_color_text);
}

.popup .item.selected {
	background: var(--popup_selected_color);
	color: var(--popup_selected_color_text);
}

.popup .popup_load_cancel {
	text-align: center;
	vertical-align: bottom;
	color: var(--popup_title_bar_color_text);
	background-color: var(--popup_title_bar_color);
	padding: 0 10px 0 10px;
}


.popup_load_cancel_button {
	color: var(--popup_cancel_button_color_text);
	border-color: var(--popup_cancel_button_color_text);
	background-color: var(--popup_cancel_button_color);
	vertical-align: bottom;
	display: inline;
}

#error_message.popup {
	background-color: var(--error_palette);
	color: var(--on_error_palette);
	height: 30vh;
	top: 35vh;
	overflow: hidden;
}

#error_message .title {
	width: 100%;
	background-color: var(--error_container_palette);
	color: var(--on_error_container_palette);
	text-align: center;
	font-size: calc(1.3em + var(--font_size_adjustment));
}

#error_message.popup .btn-primary {
	background-color: var(--error_palette);
	color: var(--on_error_palette);
	border-color: var(--on_error_palette);
}


#error_message .popup_load_cancel{
	background-color: var(--error_container_palette);
	color: var(--on_error_container_palette);
}


#error_message.popup .popup_list_area {
	overflow-x: hidden;
	overflow-y: scroll;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	background-color: var(--error_container_palette);
	color: var(--on_error_container_palette);
}

.breadcrumbitem {
	padding: 5px 10px 5px 10px;
	color: #ffffff;
	background-color: transparent;
	border: none;
	
	-moz-transition: background-color 0.25s ease-in;
	-o-transition: background-color 0.25s ease-in;
	-webkit-transition: background-color 0.25s ease-in;
	transition: background-color 0.25s ease-in;
}

.breadcrumbitem:hover {
	cursor: pointer;
	background-color: #688f1f;
}
/*----------------------------- Model Load Popup ------------------------------------------*/

.popup_list_area .model_item .model {
	grid-area: file;
	display: grid;
	grid-template-areas: "item gpu_size";
	grid-template-columns: auto 40px;
	cursor: pointer;
}

.popup .model_item:hover {
	background-color: var(--popup_hover_color);
	color: var(--popup_hover_color_text);
}

.popup .model_item .selected {
	background: var(--popup_selected_color);
	color: var(--popup_selected_color_text);
}

.model_setting_container {
	display: grid;
	grid-template-areas: "label label"
						 "item item"
						 "minlabel maxlabel";
	grid-template-rows: 20px 16px 19px;
	grid-template-columns: auto 40px;
	row-gap: 0.2em;
	border: 1px;
	margin: 2px;
}

.model_setting_minlabel {
	grid-area: minlabel;
	padding-top: 3px;
	color: var(--popup_title_bar_color_text);
	overflow: hidden;
	text-align: left;
	font-size: calc(0.8em + var(--font_size_adjustment));
}

.model_setting_maxlabel {
	color: var(--popup_title_bar_color_text);
	padding-top: 3px;
	grid-area: maxlabel;
	overflow: hidden;
	text-align: right;
	font-size: calc(0.8em + var(--font_size_adjustment));
}

.model_setting_label {
	color: var(--popup_title_bar_color_text);
	grid-area: label;
	overflow: hidden;
	text-align: left;
}

.model_setting_value {
	color: var(--popup_title_bar_color_text);
	text-align: left;
	grid-area: label;
	background-color: inherit;
	color: inherit;
	border: none; 
	outline: none;
}

.model_setting_value:focus {
	color: var(--text_edit);
}

.model_setting_item {

	grid-area: item;
	overflow: hidden;
}

.model_setting_item_input {
	width:95%;
}
/*------------------------------ Context Viewer --------------------------------------------*/
#context-viewer-container {
	position: absolute;
	left: 0px;
	top: 0px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.7);

	width: 100vw;
	height: 100vh;

	z-index: 20;
}

#context-viewer {
	display: flex;
	flex-direction: column;

	width: 50%;
	height: 75%;
	padding-bottom: 10px;
	background-color: var(--layer1_palette);
}

#context-viewer-header {
	display: flex;
	justify-content: space-between;

	padding: 5px;

	background-color: var(--background);
	margin-bottom: 3px;
}

#context-viewer-header-right {
	display: flex;
	flex-direction: row;
}

#context-viewer-close {
	cursor: pointer;
	float: right;
}

#context-viewer-header > h3 {
	margin: 0px;
	margin-top: 3px;
}

#context-container {
	overflow-y: auto;
	height: 100%;
	flex-grow: 1;
	padding: 0px 10px;
}

.context-symbol {
	font-size: 1em !important;
	position: relative;
	top: 3px;
	opacity: 0.5;
}

.context-block, .context-block-example{
	margin: 0px 2px;
	font-family: monospace;
}

.context-block:hover {
	outline: 1px solid gray;
}

.context-sp {background-color: var(--context_colors_soft_prompt);}
.context-prompt {background-color: var(--context_colors_prompt);}
.context-wi {background-color: var(--context_colors_world_info);}
.context-memory {background-color: var(--context_colors_memory);}
.context-an {background-color: var(--context_colors_authors_notes);}
.context-action {background-color: var(--context_colors_game_text);}

/* File Drag Indicator */
#file-upload-notice {
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	left: 0px;
	top: 0px;

	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99999999;

	width: 100vw;
	height: 100vh;
}

#file-upload-notice > span {
	font-size: 50vh;
	opacity: 0.7;
}
/*---------------------------------- Global ------------------------------------------------*/
.hidden {
	display: none;
}

#input_text {
	grid-area: textarea;
	background-color: var(--input_background);
	color: var(--input_text);
	padding: 5px;
	resize: none;
	border-color: white;
	border-width: 1px;
	border-radius: var(--radius_inputbox);
	border-style:solid;
}

input {
	background-color: var(--input_background);
	color: var(--input_text);
	resize: none;
	border-color: white;
	border-width: 1px;
	border-style: solid;
	outline: none;
}

.action_button {
	color: var(--enabled_button_text);
	background-color: var(--enabled_button_background_color);
	border-color: var(--enabled_button_border_color);
}

.action_button:hover {
	color: var(--enabled_button_text);
	filter: brightness(85%);
}


button.disabled {
	color: var(--disabled_button_text);
	background-color: var(--disabled_button_background_color);
	border-color: var(--disabled_button_border_color);
	cursor: not-allowed;
}

.force_center {
	margin-left: 50%;
	transform: translateX(-50%);
	padding: 0px;
}

.flex {
	display: flex;
}

.fullwidth {
	width: 100%;
}

.rawtext {
	white-space: pre-wrap;
}

.text_red {
	color: red;
}

.within_max_length {
	color: var(--text_to_ai_color);
	font-weight: bold;
}

textarea {
	background-color: var(--input_background);
	color: var(--input_text);
	outline: none;
}

.pulse {
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.drag-over {
    border-top: dashed 3px red;
}

body.NotConnected {
	filter: grayscale(80%);
}

.cursor {
	cursor: pointer;
}

@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  src: url(/static/MaterialIconsOutlined-Regular.otf) format('opentype');
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: calc(24px + var(--font_size_adjustment));  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons-outlined.cursor:hover{
	filter: brightness(85%);
}

h2 .material-icons-outlined {
	font-size: calc(32px + var(--font_size_adjustment));
}

.flyout_menu_contents {
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.collapsable_header {
	cursor: pointer;
}

.material-icons-outlined,
.collapsable_header,
.section_header,
.help_text,
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.section_header {
	margin-left: 2px;
	margin-bottom: 4px;
}

.help_text {
	margin-left: 6px;
	margin-bottom: 0.7em;
	opacity: 0.7;
	font-size: calc(0.9em + var(--font_size_adjustment));
	display: block;
	color: var(--setting_category_help_text_color);
}

.SideMenu{
	color: var(--flyout_text);
}

.rightSideMenu{
	color: var(--flyout_text);
}
