/*----------------Global Colors------------------*/
@media only screen and (max-aspect-ratio: 7/5) {
	:root {
		--flyout_menu_width: 100%;
	}
}
@media only screen and (min-aspect-ratio: 7/5) {
	:root {
		--flyout_menu_width: 450px;
	}
}

:root {
	--flyout_menu_closed_width: 0px;
	--background: #474B4F;
	--text: white;
	--text_edit: #cdf;
	--flyout_background: #6B6E70;
	--setting_background: #474b4f;
	--setting_text: white;
	--tooltip_text: white;
	--tooltip_background: #1f2931;
	--gamescreen_background: #262626;
	--textbox_background: #404040;
	--options_background: #404040;
	--enabled_button_text: #fff;
	--enabled_button_background_color: #337ab7;
	--enabled_button_border_color: #2e6da4;
	--popup_title_bar_color: #337AB7;
	--popup_item_color: #262626;
	--disabled_button_text: #303030;
	--disabled_button_background_color: #686c68;
	--disabled_button_border_color: #686c68;
	--menu_button_level_1_bg_color: #337ab7;
	--menu_button_level_2_bg_color: #285070;
	--wi_card_border_color: white;
	--wi_card_bg_color: #262626;
	--wi_card_tag_bg_color: #404040;
	--wi_tag_color: #337ab7;
	
}

/*----------------Folder Tabs--------------------*/
.tabrow {
	text-align: left;
	list-style: none;
	/*margin: 200px 0 20px;*/
	padding: 0;
	padding-left: 40px;
	line-height: 24px;
	height: 26px;
	overflow: hidden;
	font-size: 12px;
	font-family: verdana;
	position: relative;
}
.tabrow.nomenu_icon {
	padding-left: 10px;
}
.tabrow span {
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
						  supported by Chrome, Edge, Opera and Firefox */
	border: 1px solid #888;
	background: var(--menu_button_level_1_bg_color);
	background: -o-linear-gradient(top, #337ab70 50%, #28507 100%);
	background: -ms-linear-gradient(top, #337ab70 50%, #28507 100%);
	background: -moz-linear-gradient(top, #337ab70 50%, #28507 100%);
	background: -webkit-linear-gradient(top, #337ab70 50%, #28507 100%);
	background: linear-gradient(top, #337ab70 50%, #28507 100%);
	display: inline-block;
	position: relative;
	z-index: 0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #AAA;
	text-shadow: 0 1px #AAA;
	margin: 0 -5px;
	padding: 0 20px;
}
.tabrow span.selected {
	background: #FFF;
	color: #333;
	z-index: 2;
	border-bottom-color: #FFF;
}
.tabrow:before {
	position: absolute;
	content: " ";
	width: 100%;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #AAA;
	z-index: 1;
}
.tabrow span:before,
.tabrow span:after {
	border: 1px solid #AAA;
	position: absolute;
	bottom: -1px;
	width: 5px;
	height: 5px;
	content: " ";
}
.tabrow span:before {
	left: -6px;
	border-bottom-right-radius: 6px;
	border-width: 0 1px 1px 0;
	box-shadow: 2px 2px 0 #D1D1D1;
}
.tabrow span:after {
	right: -6px;
	border-bottom-left-radius: 6px;
	border-width: 0 0 1px 1px;
	box-shadow: -2px 2px 0 #D1D1D1;
}
.tabrow span.selected:before {
	box-shadow: 2px 2px 0 #FFF;
}
.tabrow span.selected:after {
	box-shadow: -2px 2px 0 #FFF;
}


/*----------------SETTINGS AREA------------------*/
.menu_pin_area {
	height: 10px;
}

.load_model {
	background-color: var(--enabled_button_background_color);
}

.settings_category {
	width: 100%;
}

.setting_tile_area {
	padding-left: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.setting_container {
	display: grid;
	grid-template-areas: "label value"
						 "item item"
						 "minlabel maxlabel";
	grid-template-rows: 20px 25px 10px;
	grid-template-columns: 160px 40px;
	row-gap: 0.2em;
	background-color: var(--setting_background);
	color: var(--text);
	margin: 2px;
}

.setting_minlabel {
	grid-area: minlabel;
	overflow: hidden;
	font-size: 0.8em;
}

.setting_maxlabel {
	grid-area: maxlabel;
	overflow: hidden;
	text-align: right;
	font-size: 0.8em;
}

.setting_label {
	grid-area: label;
	overflow: hidden;
}

.setting_value {
	text-align: right;
	grid-area: value;
	background-color: inherit;
	color: inherit;
	border: none; 
	outline: none;
}

.setting_value:focus {
	color: var(--text_edit);
}

.setting_item {
	grid-area: item;
	overflow: hidden;
}

.setting_item_input {
	width:95%;
}

.helpicon {
	display: inline-block;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	width: 2ex;
	height: 2ex;
	font-size: 1.4ex;
	line-height: 1.8ex;
	border-radius: 1.2ex;
	margin-right: 4px;
	padding: 1px;
	color: var(--setting_background);
	background: var(--setting_text);
	border: 1px solid white;
	text-decoration: none;
	cursor: help;
}

.helpicon .helptext {
	display: none;
	font-family: sans-serif;
	position: absolute;
	z-index: 100;
	text-shadow: none !important;
}

.helpicon:hover .helptext {
	display: inline-block;
	position: fixed;
	width: 250px;
	background-color: var(--tooltip_background);
	color: var(--tooltip_text);
	font-size: 11pt;
	z-index: 100;
	font-weight: normal;
	line-height: normal;
	border-radius: 6px;
	padding: 5px;
	margin-left:10px;
	border: 1px solid #337ab7;
}

/*----------------LEFT FLYOUT MENU------------------*/
.menu_icon {
	position: fixed;
	top:10px;
	left: 5px;
	z-index:50;
	display: inline-block;
	cursor: pointer;
}

@media only screen and (max-aspect-ratio: 7/5) {
.menu_pin {
	display: none;
}
}
@media only screen and (min-aspect-ratio: 7/5) {
.menu_pin {
	position: absolute;
	top:10px;
	left: calc(var(--flyout_menu_width) - 20px);
	z-index:50;
	width: 25px;
	height: 25px;
	color: #999;
	display: inline-block;
	transition: left 0.5s;
	cursor: pointer;
}
}

.menu_pin.hidden {
	left: 0px;
	display: inline-block;
	width: 0px;
	overflow: hidden;
	transition: left 0.5s;
}

.SideMenu {
	height: 100%;
	width: var(--flyout_menu_closed_width);
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--flyout_background);
	overflow-x: hidden;
	transition: 0.5s;
}

@media only screen and (min-aspect-ratio: 7/5) {
.SideMenu.pinned {
	height: 100%;
	width: var(--flyout_menu_width);
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--flyout_background);
	overflow-x: hidden;
	transition: 0.5s;
}
}

.SideMenu.open {
  width: var(--flyout_menu_width);
}

.settings_menu {
	padding-left: 30px;
	padding-top: 7px;
}

.settings_select {
	color: black;
	margin-left: auto;
	margin-right: 25px;
}

.menubar1, .menubar2, .menubar3 {
  width: 21px;
  height: 3px;
  background-color: #999;
  margin: 3px 0;
  transition: 0.4s;
}

.change .menubar1 {
  transform: translate(0px, 6px) rotate(-45deg);
}

.change .menubar2 {opacity: 0;}

.change .menubar3 {
  transform: translate(0px, -6px) rotate(45deg);
}

/*----------------RIGHT FLYOUT MENU------------------*/
.right_menu_icon {
	position: fixed;
	top:10px;
	right: 5px;
	z-index:50;
	display: inline-block;
	cursor: pointer;
	grid-area: lefticon;
}

.rightSideMenu {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: var(--flyout_background);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 20px;
	padding-bottom: 10px;
	
}

.rightSideMenu.open {
  width: var(--flyout_menu_width);
}

table.server_vars {
	border: 1px solid #959595;
}

tr.server_vars {
	margin-top: 0px;
	margin-bottom: 0px;
}

td.server_vars {
	border: 1px solid #959595;
	border-radius: 5px;
	padding: 0px;
	color: #ffffff;
	-moz-transition: all 0.15s ease-in;
	-o-transition: all 0.15s ease-in;
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
	white-space: pre-wrap;
}


.WI_Folder {
	/*color: black;*/
}

.WI_Folder table {
	margin: 5px;
}

.world_info_card {
	width: 100%;
	border: 2px outset var(--wi_card_border_color);
	background-color: var(--wi_card_bg_color)
}

.world_info_tag_area {
	border: 2px inset var(--wi_card_border_color);
	background-color: var(--wi_card_tag_bg_color);
	padding-bottom : 5px;
}

.tag {
	background-color: var(--wi_tag_color);
	border: solid;
	border-color: var(--wi_card_tag_bg_color);
}

.tag .delete_icon {
	cursor: pointer;
}


/* ---------------------------- OVERALL PAGE CONFIG ------------------------------*/
body {
	background-color: var(--background);
	color: var(--text);
}

@media only screen and (min-aspect-ratio: 7/5) {
.main-grid {
	transition: margin-left .5s;
	display: grid;
	height: 98vh;
	margin-left: var(--flyout_menu_closed_width);
	grid-template-areas: "menuicon gamescreen options lefticon"
						 "menuicon inputrow inputrow lefticon";
	grid-template-columns: 30px auto fit-content(30%) 20px;
	grid-template-rows: auto 100px;
}
}

@media only screen and (max-aspect-ratio: 7/5) {
.main-grid {
	transition: margin-left .5s;
	display: grid;
	height: 98vh;
	margin-left: var(--flyout_menu_closed_width);
	grid-template-areas: "menuicon gamescreen lefticon"
					     "menuicon mobile_options lefticon"
						 "menuicon inputrow lefticon";
	grid-template-columns: 30px auto 20px;
	grid-template-rows: auto min-content 100px;
}
}

@media only screen and (min-aspect-ratio: 7/5) {
.main-grid.pinned {
	margin-left: var(--flyout_menu_width);
}
}

/* ---------------------------------- GAME SCREEN ----------------------------------*/
.gamescreen {
	background-color: var(--gamescreen_background);
	color: white;
	width: 100%;
	grid-area: gamescreen;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	margin-top: 10px;
	vertical-align: bottom;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
}

.gametext {
	margin-top: auto;
	padding-bottom: 1px;
	vertical-align: bottom;
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.gametext::-webkit-scrollbar {
  display: none;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
  border:none;
  outline:none;
  color: var(--text_edit);
}

.gametext span span[title]:not([title=""]) {
	font-style: italic;
}

@media only screen and (min-aspect-ratio: 7/5) {
.sequence_area {
	margin-top: 10px;
	grid-area: options;
	background-color: var(--gamescreen_background);
	overflow-y: scroll;
}
}

@media only screen and (max-aspect-ratio: 7/5) {
.sequence_area {
	margin-top: 5px;
	grid-area: mobile_options;
	background-color: var(--gamescreen_background);
	overflow-y: hidden;
}
}

@media only screen and (max-aspect-ratio: 7/5) {
.sequences {
	width: 100%;
	border: 0px;
	border-spacing: 0;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}
}

@media only screen and (min-aspect-ratio: 7/5) {
.sequences {
	width: 100%;
	border: 0px;
	border-spacing: 0;
	display: flex;
	flex-direction: column;
}
}

.sequence_row {
	scroll-snap-align: start;
	margin-top: 0px;
	margin-bottom: 0px;
	min-width: 100%;
	display: grid;
	grid-template-areas: "text icon";
	grid-template-columns: auto 20px;
}

.sequence {
	border: 1px solid #959595;
	border-radius: 5px;
	grid-area: text;
	padding: 0px;
	background-color: var(--options_background);
	-moz-transition: all 0.15s ease-in;
	-o-transition: all 0.15s ease-in;
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
	white-space: pre-wrap;
}

.sequnce_icon {
	grid-area: icon;
}

.sequence:hover {
	filter: brightness(70%);
}


.actions {
	grid-area: actions;
	display: flex;
}

.actions button {
	width: 80px;
	margin-right: 2px;
}

.inputrow {
	grid-area: inputrow;
	display: grid;
	grid-template-areas: "textarea statusbar statusbar statusbar"
						 "textarea submit submit submit"
	                     "textarea back redo retry";
	grid-template-columns: auto 30px 30px 30px;
	grid-template-rows: 0px 60px 40px;
	gap: 1px;
	
}

.inputrow.status_bar {
	grid-template-rows: 20px 40px 40px;
}

.inputrow .submit[system_aibusy=false] {
	grid-area: submit;
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.inputrow .submit[system_aibusy=true] {
	grid-area: submit;
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: hidden;
	display: none;
}

.inputrow .submited[system_aibusy=false] {
	grid-area: submit;
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: hidden;
	display: none;
}
.inputrow .submited[system_aibusy=true] {
	grid-area: submit;
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: hidden;
	display: inline;
}

.statusbar_outer {
	color: #000;
	background-color: #f1f1f1;
	grid-area: statusbar;
	height: 20px;
}

.statusbar_outer.hidden {
	height: 0px;
}

.statusbar_inner {
	background-color: #4CAF50;
	text-align: center;
	font-size: 0.875em;
	
	
}

.inputrow .back {
	grid-area: back;
	padding: 0px;
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.inputrow .redo {
	grid-area: redo;
	padding: 0px;
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.inputrow .retry {
	grid-area: retry;
	padding: 0px;
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: hidden;
}


/*---------------------------------- Popup -------------------------------------------------*/
.popup {
	position: absolute;
	top: 10vh;
	left: 10%;
	z-index: 999;
	width: 80%;
	height: 80vh;
	background-color: black;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.popup .title {
	width: 100%;
	background-color: var(--popup_title_bar_color);
	text-align: center;
	font-size: 1.3em;
}

.popup .popup_list_area {
	height: 70vh;
	overflow-x: hidden;
}

.popup .item {
	width: 100%;
	background-color: var(--popup_item_color);
	padding: 2px;
	display: grid;
	grid-template-areas: "folder_icon delete_icon edit_icon rename_icon file";
	grid-template-columns: 20px 20px 20px 20px auto;
	
}

.popup .item .folder_icon {
	grid-area: folder_icon;
}

.popup .item .edit_icon {
	grid-area: edit_icon;
}

.popup .item .rename_icon {
	grid-area: rename_icon;
}

.popup .item .delete_icon {
	grid-area: delete_icon;
}

.popup .item .file {
	grid-area: file;
	display: grid;
}

.popup .item .file:hover {
	background-color: #688f1f;
}

.popup .item .file.selected {
	background: #688f1f;
}

.popup .popup_load_cancel {
	text-align: center;
	background-color: var(--popup_title_bar_color);
}

.popup_load_cancel_button {
	vertical-align: bottom;
	display: inline;
}

.breadcrumbitem {
	padding: 5px 10px 5px 10px;
	color: #ffffff;
	background-color: transparent;
	border: none;
	
	-moz-transition: background-color 0.25s ease-in;
	-o-transition: background-color 0.25s ease-in;
	-webkit-transition: background-color 0.25s ease-in;
	transition: background-color 0.25s ease-in;
}

.breadcrumbitem:hover {
	cursor: pointer;
	background-color: #688f1f;
}
/*----------------------------- Model Load Popup ------------------------------------------*/

.popup .item .model {
	grid-area: file;
	display: grid;
	grid-template-areas: "item gpu_size";
	grid-template-columns: auto 40px;
}

.popup .item .model:hover {
	background-color: #688f1f;
}

.popup .item .model.selected {
	background-color: #688f1f;
}

.model_setting_container {
	display: grid;
	grid-template-areas: "label label"
						 "item item"
						 "minlabel maxlabel";
	grid-template-rows: 20px 25px 10px;
	grid-template-columns: auto 40px;
	row-gap: 0.2em;
	border: 1px;
	margin: 2px;
}

.model_setting_minlabel {
	grid-area: minlabel;
	overflow: hidden;
	text-align: left;
	font-size: 0.8em;
}

.model_setting_maxlabel {
	grid-area: maxlabel;
	overflow: hidden;
	text-align: right;
	font-size: 0.8em;
}

.model_setting_label {
	grid-area: label;
	overflow: hidden;
	text-align: left;
}

.model_setting_value {
	text-align: left;
	grid-area: label;
	background-color: inherit;
	color: inherit;
	border: none; 
	outline: none;
}

.model_setting_value:focus {
	color: var(--text_edit);
}

.model_setting_item {
	grid-area: item;
	overflow: hidden;
}

.model_setting_item_input {
	width:95%;
}

/*---------------------------------- Global ------------------------------------------------*/
.hidden {
	display: none;
}

textarea {
	grid-area: textarea;
	background-color: var(--textarea_background);
	color: var(--text);
	resize: none;
	border-color: white;
	border-width: 1px;
	border-style:solid;
}

input {
	grid-area: textarea;
	background-color: var(--textarea_background);
	color: var(--text);
	resize: none;
	border-color: white;
	border-width: 1px;
	border-style:solid;
}

.action_button {
	color: var(--enabled_button_text);
	background-color: var(--enabled_button_background_color);
	border-color: var(--enabled_button_border_color);
}

.action_button:hover {
	color: var(--enabled_button_text);
	filter: brightness(85%);
}


button.disabled {
	color: var(--disabled_button_text);
	background-color: var(--disabled_button_background_color);
	border-color: var(--disabled_button_border_color);
	cursor: not-allowed;
}

.force_center {
	margin-left: 50%;
	transform: translateX(-50%);
	padding: 0px;
}

.flex {
	display: flex;
}

.fullwidth {
	width: 100%;
}

.rawtext {
	white-space: pre-wrap;
}

.text_red {
	color: red;
}

.within_max_length {
	color: #CCECFF;
	font-weight: bold;
}

.pulse {
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.drag-over {
    border-top: dashed 3px red;
}