<!DOCTYPE html>
<html>
<head>
	<link href="static/open-iconic/css/open-iconic.css" rel="stylesheet">
	<link rel="stylesheet" href="static/bootstrap-toggle.min.css">
	<link rel="stylesheet" href="static/bootstrap.min.css">
	<script src="static/jquery-3.6.0.min.js"></script>
	<script src="static/jquery-ui.sortable.min.js"></script>
	<script src="static/bootstrap.min.js"></script>
	<script src="static/bootstrap-toggle.min.js"></script>
	<script src="static/socket.io.min.js"></script>
	<title>KoboldAI Client</title>
	<meta charset="utf-8">
	<link href="static/koboldai.css" rel="stylesheet">
	<script src="static/koboldai.js"></script>
	<script src="static/favicon.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<!------------ Left Flyout Menu--------------------->
	<div id="SideMenu" class="SideMenu pinned">
		<!------------ Menu Pin --------------------->
		<span id="menu_pin" class="oi menu_pin" onclick="toggle_pin_flyout()" data-glyph="pin"></span>
		{% include 'settings flyout.html' %}
	</div>

	<!------------ Main Screen--------------------->
	<div id="main-grid" class="main-grid pinned">
		<!------------ Left Menu Icon--------------------->
		<div class="menu_icon" onclick="toggle_flyout(this)"> 
			<div class="menubar1"></div>
			<div class="menubar2"></div>
			<div class="menubar3"></div>
		</div>
		<!------------ Game Text Screen--------------------->
		<div class="gamescreen" id="gamescreen">
			<div id="disconnect_message"><center><h1>Disconnected</h1></center></div>
			<div class="gametext" id="Selected Text">
				<span id="story_prompt" class="var_sync_story_prompt var_sync_alt_story_prompt_length rawtext" contenteditable=true onblur="if (getAttribute(this, 'old_text') != this.textContent) {sync_to_server(this);}" onkeydown="detect_enter_text"></span>
			</div>
		</div>
		<!------------ Sequences --------------------->
		<div id="action_count" class="var_sync_actions_Action_Count hidden"></div>
		<div id="Select Options" class="sequence_area"></div>
		<!------------ Input Area--------------------->
		<div class="inputrow" id="inputrow_container">
			<textarea row=5 id="input_text" placeholder="Enter text here"></textarea>
			<div class="statusbar_outer hidden">
				<div class="statusbar_inner" style="width:0%">0%</div>
			</div><br>
			<button type="button" class="btn action_button submit var_sync_alt_system_aibusy" system_aibusy=False id="btnsend" 
				onclick="socket.emit('submit', {'data': document.getElementById('input_text').value});document.getElementById('input_text').value = '';"
				>Submit</button>
			<button type="button" class="btn action_button submited var_sync_alt_system_aibusy"  system_aibusy=False id="btnsend"><img src="static/thinking.gif" class="force_center"></button>
			<button type="button" class="btn action_button back" onclick="socket.emit('back', {});"><span class="oi" data-glyph="action-undo"></span></button>
			<button type="button" class="btn action_button redo" onclick="socket.emit('redo', {});"><span class="oi" data-glyph="action-redo"></span></button>
			<button type="button" class="btn action_button retry" onclick="socket.emit('retry', {});"><span class="oi" data-glyph="loop-circular"></span></button>
		</div>
		<!------------ Right Menu Icon--------------------->
		<span class="oi right_menu_icon" data-glyph="chevron-left" onclick="toggle_flyout_right(this)"></span>
	</div>
	
	<!------------ Right Flyout Menu--------------------->
	<div id="rightSideMenu" class="rightSideMenu">
		{% include 'story flyout.html' %}
	</div>
	
	<!------------- Pop-Ups ------------------------------->
	{% include 'popups.html' %}
	
	<!------------- World Info Template ------------------------------->
	<div class="hidden">
		<div draggable="true" class="world_info_card" id="world_info_">
			<div class="world_info_title_area">
				<h4 id="world_info_title_" class="world_info_title"></h4>
				<span id="world_info_delete_" class="world_info_delete">X</span>
			</div>
			<div class="world_info_tag_area" id="world_info_toggle_area_">
				Always Include
			</div>
			<div id="world_info_tags_" class="world_info_tag_area">
				<div>Requires one of:</div>
			</div>
			<div id="world_info_secondtags_" class="world_info_tag_area">
				<div>And (if present):</div>
			</div>
			<div>
				Text:
				<textarea id="world_info_entry_text_" class="world_info_text fullwidth"></textarea>
			</div>
			<div id="world_info_entry_w++_" class="hidden">
				<input type=text placeholder="Type"/><input type=text placeholder="Name"/>
				<div>
					<input type=text placeholder="attribute"/><input type=text placeholder="value"/>
				</div>
			</div>
			<div>
				Comment:
				<textarea rows=1 id="world_info_comment_" class="world_info_text fullwidth"></textarea>
			</div>
		</div>
		<div id="empty_bias">
			<div class="bias_phrase">
				<input type=text placeholder="Word or Phrase to Bias" onchange="save_bias(this);"/>
			</div>
			<div class="bias_percent">
				<div class="bias_slider">
					<div class="bias_slider_bar">
						<input type="range" min="0" max="1" step="0.01" value="1" class="setting_item_input" 
							oninput="update_bias_slider_value(this);"
							onchange="save_bias(this);"/>
					</div>
					<div class="bias_slider_min">0</div>
					<div class="bias_slider_cur">1</div>
					<div class="bias_slider_max">1</div>
				</div>
			</div>
			<div class="bias_max">
				<div class="bias_slider">
					<div class="bias_slider_bar">
						<input type="range" min="0" max="50" step="1" value="50" class="setting_item_input"
							oninput="update_bias_slider_value(this);" 
							onchange="save_bias(this);"/>
					</div>
					<div class="bias_slider_min">0</div>
					<div class="bias_slider_cur">50</div>
					<div class="bias_slider_max">50</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>