<!------------------File Browser--------------->
<div class="popup hidden" id="popup">
	<div class="title" id="popup_title">
		Popup Title
	</div>
	<div id="popup_breadcrumbs"></div>
	<div id="popup_column_titles"></div>
	<div class="popup_list_area" id="popup_list"></div>
	<div class="popup_load_cancel hidden" id="popup_upload">
		<input type=file id="popup_upload_file">
	</div>
	<div style="display:flex;justify-content: space-between;">
		<span>Drag file(s) above or click here to Upload File<input id="popup_upload_input" type=file onchange="upload_file(this)"></span>
		<button id="import_story_button" class="settings_button hidden" onclick="document.getElementById('import_aidg_club_popup').classList.remove('hidden');">
			<span class="material-icons-outlined cursor" title="Import Story">cloud_download</span>
			<span class="button_label">Import Story</span>
		</button>
		
	</div>
	<div class="popup_load_cancel" id="popup_load_cancel">
		<button class="btn popup_load_cancel_button action_button" id="popup_accept">Load</button>
		<button class="btn popup_load_cancel_button" id="popup_cancel" onclick='document.getElementById("popup").classList.add("hidden");'>Cancel</button>
	</div>
</div>

<!---------------- Model Load Screen ---------------------->
<div class="popup hidden" id="loadmodelcontainer">
	<div class="title">
		Select A Model To Load
	</div>
	<div id="loadmodellistbreadcrumbs">
		
	</div>
	<div id="loadmodellistcontent" class="popup_list_area"></div>
	<div class="popup_load_cancel">
		<div>
			<input class="hidden fullwidth" type="text" placeholder="key" id="modelkey" onblur="socket.emit('OAI_Key_Update', {'model': document.getElementById('btn_loadmodelaccept').getAttribute('selected_model'), 'key': this.value});">
			<input class="hidden fullwidth" type="text" placeholder="Enter the URL of the server (For example a trycloudflare link)" id="modelurl" onchange="check_enable_model_load()">
			<input class="hidden fullwidth" type="text" placeholder="Model Path or Hugging Face Name" id="custommodelname" menu="" onblur="socket.send({'cmd': 'selectmodel', 'data': $(this).attr('menu'), 'path_modelname': $('#custommodelname')[0].value});">
			<select class="hidden fullwidth settings_select" id="oaimodel"><option value="">Select OAI Model</option></select>
		</div>
		<div class="hidden" id=modellayers>
			<div class="justifyleft">
				GPU/Disk Layers<span class="material-icons-outlined helpicon" title="Number of layers to assign to GPUs and to disk cache. Remaining layers will be put into CPU RAM.">help_icon</span>
			</div>
			<div class="justifyright"><span id="gpu_layers_current">0</span>/<span id="gpu_layers_max">0</span></div>
			<div id=model_layer_bars style="color: white"></div>
			<input type=hidden id='gpu_count' value=0/>
		</div>
		<div class="box flex-push-right hidden" id=use_gpu_div>
			<input type="checkbox" data-toggle="toggle" data-onstyle="success" id="use_gpu" checked>
			<div class="box-label">Use GPU</div>
		</div>
		<button type="button" class="btn popup_load_cancel_button action_button disabled" onclick="load_model()" id="btn_loadmodelaccept">Load</button>
		<button type="button" class="btn popup_load_cancel_button" onclick='document.getElementById("loadmodelcontainer").classList.add("hidden");' id="btn_loadmodelclose">Cancel</button>
	</div>
</div>

<!---------------- Story overwrite screen ---------------------->
<div class="popup hidden" id="save-confirm">
	<div class="title">
		<div class="popuptitletext">Overwrite</div>
	</div>
	<div id="popup_list_area" class="popup_list_area">
		The story name you have entered already exists. Would you like to overwrite?
	</div>
	<div class="popup_load_cancel">
		<button type="button" class="btn btn-primary" onclick='socket.emit("save_story", "overwrite"); document.getElementById("save-confirm").classList.add("hidden");'>Overwrite</button>
		<button type="button" class="btn btn-primary" onclick="document.getElementById('save-confirm').classList.add('hidden');">Cancel</button>
	</div>
</div>
<!---------------- Import aidg.club Prompt ---------------------->
<div class="popup hidden" id="import_aidg_club_popup">
	<div class="title">
		<div class="popuptitletext">Enter the Prompt Number</div>
	</div>
	<div class="popup_list_area">
		<br/>
		<div style="text-align: center;"><a href="https://aetherroom.club/" target="_blank" rel="noopener noreferrer">https://aetherroom.club/</a></div>
		<br/>
		<input autocomplete="off" class="form-control" type="text" placeholder="Prompt Number (4-digit number at the end of aetherroom.club URL)" id="aidgpromptnum">
	</div>
	<div class="popup_load_cancel">
		<button type="button" class="btn btn-primary" onclick="socket.emit('load_aidg_club', document.getElementById('aidgpromptnum').value); this.parentElement.parentElement.classList.add('hidden');">Accept</button>
		<button type="button" class="btn btn-primary" onclick="this.parentElement.parentElement.classList.add('hidden');">Cancel</button>
	</div>
</div>
<!---------------- Import aidg.club Prompt ---------------------->
<div class="popup hidden" id="import_aidg_club_popup">
	<div class="title">
		<div class="popuptitletext">Enter the Prompt Number</div>
	</div>
	<div class="popup_list_area">
		<br/>
		<div style="text-align: center;"><a href="https://aetherroom.club/" target="_blank" rel="noopener noreferrer">https://aetherroom.club/</a></div>
		<br/>
		<input autocomplete="off" class="form-control" type="text" placeholder="Prompt Number (4-digit number at the end of aetherroom.club URL)" id="aidgpromptnum">
	</div>
	<div class="popup_load_cancel">
		<button type="button" class="btn btn-primary" onclick="socket.emit('load_aidg_club', document.getElementById('aidgpromptnum').value); this.parentElement.parentElement.classList.add('hidden');">Accept</button>
		<button type="button" class="btn btn-primary" onclick="this.parentElement.parentElement.classList.add('hidden');">Cancel</button>
	</div>
</div>

<!---------------- error screen ---------------------->
<div class="popup hidden" id="error_message">
	<div class="title">
		<div class="popuptitletext">Error</div>
	</div>
	<div id="popup_list_area" class="popup_list_area">
		
	</div>
	<div class="popup_load_cancel">
		<button type="button" class="btn btn-primary" onclick="document.getElementById('error_message').classList.add('hidden');">Ok</button>
	</div>
</div>
<!---------------- Advanced Theme Editor ---------------------->
<div class="popup hidden" id="advanced_theme_editor">
	<div class="title">
		<div class="popuptitletext">Advanced Theme Editor</div>
	</div>
	<div id="popup_list_area" class="popup_list_area">
		<table border=1 id="advanced_theme_editor_table"></table>
	</div>
	<div class="popup_load_cancel">
		<button type="button" class="btn btn-primary" onclick="document.getElementById('advanced_theme_editor').classList.add('hidden');">Ok</button>
	</div>
</div>