<div id="popup-container" class="hidden">
	<!------------------File Browser--------------->
	<div id="file-browser" class="popup-window popup">
		<div class="title" id="popup_title">
			Popup Title
		</div>
		<div id="popup_breadcrumbs"></div>
		<div id="popup_column_titles"></div>
		<div class="popup_list_area" id="popup_list"></div>
		<div class="popup_load_cancel hidden" id="popup_upload">
			<input type=file id="popup_upload_file">
		</div>
		<div class="story_popup_footer" style="display:flex;justify-content: space-between; position: absolute; bottom: 45px;">
			<span>Drag file(s) above or click here to Upload File<input id="popup_upload_input" type=file onchange="upload_file(this)"></span>
			<!---<span>
				Upload file without saving to google: 
				<input type=checkbox id="upload_no_save" class="setting_item_input"
					data-size="mini" data-onstyle="success" data-toggle="toggle">
			</span>--->
			<span>
				<button class="settings_button" id="upload_without_save_button" onclick="document.getElementById('upload_without_save').click()">
					<span class="material-icons-outlined cursor" tooltip="Load from Local">browser_updated</span>
					<span class="button_label">Load from Local</span>
				</button>
				<input class="hidden" type=file  id="upload_without_save" onchange="upload_file_without_save(this)">
				<button id="import_story_button" class="settings_button hidden" onclick="openClubImport();">
					<span class="material-icons-outlined cursor" tooltip="Import Story">cloud_download</span>
					<span class="button_label">Import Story</span>
				</button>
			</span>
		</div>
		<div class="popup_load_cancel" id="popup_load_cancel">
			<button class="btn popup_load_cancel_button action_button" id="popup_accept" disabled>Load</button>
			<button class="btn popup_load_cancel_button" id="popup_cancel" onclick='closePopups();'>Cancel</button>
		</div>
	</div>

	<!---------------- Model Load Screen ---------------------->
	<div id="load-model" class="popup-window popup loadmodel">
		<div class="title">
			Select A Model To Load
		</div>
		<span class="model_item" id="modelspecifier">
			<span id="specspan">
				<div id="model-spec-name">Name</div>
				<div id="model-spec-usage">Usage (VRAM)</div>
			</span>
		</span>
		<div id="loadmodellistbreadcrumbs"></div>
		<div id="loadmodellistcontent" class="popup_list_area"></div>
		<div id="loadmodelplugin" class="popup_load_cancel"><select id="modelplugin" class="settings_select hidden"></select></div>
		<div id="loadmodelsettings" class="popup_load_cancel loadmodelsettings"></div>
		<div class="popup_load_cancel">
			<button type="button" class="btn popup_load_cancel_button action_button disabled" onclick="load_model()" id="btn_loadmodelaccept" disabled>Load</button>
			<button type="button" class="btn popup_load_cancel_button" onclick='closePopups();' id="btn_loadmodelclose">Cancel</button>
		</div>
	</div>

	<!---------------- Story overwrite screen ---------------------->
	<div id="save-confirm" class="popup-window popup">
		<div class="title">
			<div class="popuptitletext">Overwrite</div>
		</div>
		<div id="popup_list_area" class="popup_list_area">
			The story name you have entered already exists. Would you like to overwrite?
		</div>
		<div class="popup_load_cancel">
			<button type="button" class="btn btn-primary popup_load_cancel_button" onclick='socket.emit("save_story", "overwrite");closePopups();'>Overwrite</button>
			<button type="button" class="btn btn-primary popup_load_cancel_button" onclick="closePopups();">Cancel</button>
		</div>
	</div>
	<!---------------- Private Mode Unlock screen ---------------------->
	<div id="privacy_mode" class="popup-window popup" allow-close="false">
		<div class="title">
			<div class="popuptitletext">Locked</div>
		</div>
		<div id="popup_list_area" class="popup_list_area">
			This story is in private mode. Please enter the password to unlock it.<br/>
			<input type="password" id="privacy_password"/>
		</div>
		<div class="popup_load_cancel">
			<button type="button" class="btn btn-primary popup_load_cancel_button" onclick='socket.emit("privacy_mode", {"enabled": false, "password": document.getElementById("privacy_password").value});'>Unlock</button>
		</div>
	</div>
	

	<!---------------- Save Preset screen ---------------------->
	<div id="save-preset" class="popup-window popup">
		<div class="title">
			<div class="popuptitletext">Save Preset</div>
		</div>
		<div id="popup_list_area" class="popup_list_area">
			<table>
				<tr>
					<td>
						Name: 
					</td>
					<td>
						<input type="text" id="new_preset_name"/>
					</td>
				</tr>
				<tr>
					<td>
						Description:
					</td>
					<td>
						<input type="text" id="new_preset_description"/>
					</td>
				</tr>
			</table>
		</div>
		<div class="popup_load_cancel">
			<button type="button" class="btn btn-primary popup_load_cancel_button" onclick='save_preset()'>Save</button>
			<button type="button" class="btn btn-primary popup_load_cancel_button" onclick="closePopups();">Cancel</button>
		</div>
	</div>

	<!---------------- Import aidg.club Prompt ---------------------->
	<div id="aidg-import-popup" class="popup-window popup">
		<div class="title">
			<div class="popuptitletext">Enter the Prompt Number</div>
		</div>
		<div class="popup_list_area">
			<br/>
			<div style="text-align: center;"><a href="https://aetherroom.club/" target="_blank" rel="noopener noreferrer">https://aetherroom.club/</a></div>
			<br/>
			<input autocomplete="off" class="form-control focus-on-me" type="text" placeholder="Prompt ID or URL" id="aidgpromptnum">
		</div>
		<div class="popup_load_cancel">
			<button type="button" class="btn btn-primary popup_load_cancel_button" onclick="attemptClubLoad();">Accept</button>
			<button type="button" class="btn btn-primary popup_load_cancel_button" onclick="closePopups();">Cancel</button>
		</div>
	</div>

	<!---------------- error screen ---------------------->
	<div id="error-popup" class="popup-window popup">
		<div class="title">
			<div class="popuptitletext">Error</div>
		</div>
		<div id="popup_list_area" class="popup_list_area" style="overflow-x: scroll;">
			
		</div>
		<div class="popup_load_cancel">
			<button type="button" class="btn btn-primary popup_load_cancel_button" onclick="closePopups();">Ok</button>
		</div>
	</div>
	
	<!---------------- message screen ---------------------->
	<div id="message-popup" class="popup-window popup">
		<div class="title">
			<div class="popuptitletext" id="popup_title"></div>
		</div>
		<div id="popup_list_area" class="popup_list_area" style="overflow-x: scroll;">
			
		</div>
		<div class="popup_load_cancel">
			<button id="ok" type="button" class="btn btn-primary popup_load_cancel_button" onclick="closePopups();socket.emit('check_messages', this.getAttribute('message_id'));">Ok</button>
		</div>
	</div>
	
	<!---------------- log screen ---------------------->
	<div id="log-popup" class="popup-window popup">
		<div class="title">
			<div class="popuptitletext">Log</div>
		</div>
		<div id="popup_list_area" class="popup_list_area" style="overflow-x: scroll;">
			
		</div>
		<div class="popup_load_cancel">
			<span class="cursor debug-dump-log" onclick="openPopup('debug-file-prompt');">Download debug dump</span>
			<button type="button" class="btn btn-primary popup_load_cancel_button" onclick="closePopups();">Ok</button>
		</div>
	</div>
	<!---------------- Advanced Theme Editor ---------------------->
	<div id="advanced_theme_editor" class="popup-window popup">
		<div class="title">
			<div class="popuptitletext">Advanced Theme Editor</div>
		</div>
		<div id="popup_list_area" class="popup_list_area">
			<table border=1 id="advanced_theme_editor_table"></table>
		</div>
		<div class="popup_load_cancel">
			<button type="button" class="btn btn-primary popup_load_cancel_button" onclick="closePopups();">Ok</button>
		</div>
	</div>

	<!---------------- Context Viewer ---------------------->
	<div id="context-viewer" class="popup-window">
		<div id="context-viewer-header" class="popup-header">
			<h3 class="noselect">Context Viewer</h3>
			<div id="context-viewer-header-right">
				<div>
					<span class="noselect">Key:</span>
					<div>
						<span class="noselect context-block-example context-sp">Soft Prompt</span>
						<span class="noselect context-block-example context-genre">Genre</span>
						<span class="noselect context-block-example context-memory">Memory</span>
						<span class="noselect context-block-example context-wi">World Info</span>
						<span class="noselect context-block-example context-an">Author's Note</span>
						<span class="noselect context-block-example context-prompt">Prompt</span>
						<span class="noselect context-block-example context-action">Action</span>
						<span class="noselect context-block-example context-submit">Submit</span>
					</div>
				</div>
				<span id="context-viewer-close" class="material-icons-outlined" onclick='closePopups();'>close</span>
			</div>
		</div>
		<span class="help_text">
			Context is the text the AI is sent when you ask it to generate text.
			As the context is limited in size, you can use the Context Viewer to check if things you want the AI to know are in the context.
		</span>
		<div id="context-container"></div>
	</div>

	<!---------------- Finder ---------------------->
	<div id="finder" class="popup-window">
		<div id="finder-bar">
			<input id="finder-input" placeholder="Search for something..."></input>
			<span id="finder-icon" class="material-icons-outlined">search</span>
		</div>
	</div>
	<div id="finder-wi-carousel" class="hidden"></div>
	<div id="finder-scratchpad" class="hidden">
		<span id="finder-scratchpad-info" class="noselect">AI Output:</span>
		<span id="finder-scratchpad-prompt">
			A man with 20 fingers is
		</span>
		<span id="finder-scratchpad-response">
			a threat to society
		</span>
	</div>

	<!---------------- Debug File ---------------------->
	<div id="debug-file-prompt" class="popup-window">
		<div id="redacted" onclick="downloadDebugFile(true);">
			<span class="focus">Download debug file</span>
			<span class="help_text">Sensitive information, including any story data, is redacted.</span>
		</div>
		<div id="unredacted" onclick="downloadDebugFile(false);">
			<span class="focus">Download unredacted debug file</span>
			<span class="help_text">
				Extremely sensitive information, such as API keys or information about other stories, is still redacted.
				<br><b>This file will contain your story.</b>
			</span>
		</div>
	</div>

	<!---------------- Prompt Config ------------------->
	<div id="prompt-config" class="popup-window">
		<div id="prompt-config-header">
			<h3 class="noselect">Prompt Configuration</h3>
			<span class="help_text">This prompt has placeholders you need to fill in before starting.</span>
		</div>

		<!-- Order, default, title, description -->
		<div id="prompt-config-placeholders"></div>
		<div id="prompt-config-done" onclick="sendPromptConfiguration();">Done</div>
	</div>

	<!---------------- Shortcuts ------------------->
	<div id="shortcuts-popup" class="popup-window">
		<div class="popup-header">
			<h2>Shortcuts</h2>
			<span class="popup-close material-icons-outlined" onclick='closePopups();'>close</span>
		</div>
		<div id="shortcut-container"></div>
	</div>
	
	<!---------------- Softprompt Trainer ------------------->
	<div id="sp-trainer-popup" class="popup-window popup">
		<div class="title">
			<div class="popuptitletext">Softprompt Trainer</div>
		</div>
		<div id="popup_list_area" class="popup_list_area" style="overflow-x: scroll;">
			<form action="sp_tunning" method="post">
				Soft Prompt Title: <input type=text id="sp_title"/><br/>
				Initial Prompt: <input type=text id="sp_prompt"/><br/>
				Dataset Location: <input type=text id="sp_dataset"/><br/>
				Author: <input type=text id="sp_author"/><br/>
				Description: <input type=text id="sp_description"/><br/>
			</form>
		</div>
		<div class="popup_load_cancel">
			<button type="button" class="btn btn-primary popup_load_cancel_button" onclick="create_new_softprompt();">Ok</button>
			<button type="button" class="btn btn-primary popup_load_cancel_button" onclick="closePopups();">Cancel</button>
		</div>
	</div>

	<!-- WI deletion confirmation -->
	<div id="confirm-delete-dialog">
		<span id="confirm-text">You're about to delete World Info folder <b>evil and malice</b> and the <b>infinite</b> entries inside it. Are you sure?</span>

		<div id="confirm-buttons">
			<div id="confirm-deny-button" class="confirm-button">
				<span class="material-icons-outlined">close</span>
				<span class="text">I've changed my mind!</span>
			</div>
			<div id="confirm-confirm-button" class="confirm-button">
				<span class="material-icons-outlined">delete</span>
				<span class="text">Go for it.</span>
			</div>
		</div>
	</div>

	<!-- Big Image -->
	<img id="big-image"></img>

	<!-- Screenshot Wizard -->
	<div id="screenshot-wizard" class="popup-window">
		<script src="/static/html2canvas.min.js"></script>
		<div class="popup-header">
			<h1>Screenshot</h1>
		</div>
		<span class="help_text">
			This tool is used to create screenshots of story segments that can easily be shared. The options below will help you customize the screenshot to your liking.
		</span>
		<div id="screenshot-target-container">
			<div id="screenshot-target" class="noselect">
				<div id="screenshot-left">
					<div id="screenshot-text-container"></div>
					<span id="robot-attribution">
						<span class="boring-part-of-madlibs">A snippet</span>

						<span id="story-title-vis">
							<span class="boring-part-of-madlibs">of</span>
							<span id="story-attribution">The Great John Koblad</span>,
						</span>

						<span class="boring-part-of-madlibs">written</span>

						<span id="author-name-vis">
							<span class="boring-part-of-madlibs">by</span>
							<span id="human-attribution">Anonymous</span>
						</span>

						<span class="boring-part-of-madlibs">in KoboldAI</span>

						<span id="model-name-vis">
							<span class="boring-part-of-madlibs">with</span>
							<span id="model-name">facebook/OPT_175B</span>
						</span>
					</span>
				</div>
				<div id="screenshot-images"></div>
			</div>
		</div>

		<div id="screenshot-options">
			<!--
				FIXME: screenshot-setting is a lazy hack until var_sync can converted to an attribute for scanning and such
			-->
			<span class="header">Options</span>
			<div id="screenshot-options-attribution">
				<div class="option">
					Show Story Title
					<input class="screenshot-setting var_sync_user_screenshot_show_story_title" type="checkbox" data-size="mini" data-onstyle="success" data-toggle="toggle">
				</div>
				<div class="option">
					Show Author Name
					<input class="screenshot-setting var_sync_user_screenshot_show_author_name" type="checkbox" data-size="mini" data-onstyle="success" data-toggle="toggle">
				</div>
				<div class="indent">
					<div id="screenshot-options-author-name" class="option">
						Author Name
						<input class="screenshot-setting var_sync_user_screenshot_author_name">
					</div>
				</div>
				<div class="option">
					Boring Colors
					<input class="screenshot-setting var_sync_user_screenshot_use_boring_colors" type="checkbox" data-size="mini" data-onstyle="success" data-toggle="toggle">
				</div>
			</div>
		</div>
		<div class="header">Generated Images</div>
		<div id="screenshot-image-picker" class="noselect"></div>

		<div id="sw-download">Download Screenshot</div>
	</div>
	
	<!---------------- version screen ---------------------->
	<div id="version-popup" class="popup-window popup">
		<div class="title">
			<div class="popuptitletext">Version</div>
		</div>
		<div id="popup_list_area" class="popup_list_area" style="overflow-x: scroll;">
			<div>Git Repository: <span class="var_sync_system_git_repository"></span></div>
			<div>Git Branch: <span class="var_sync_system_git_branch"></span></div>
		</div>
		<div class="popup_load_cancel">
			<button type="button" class="btn btn-primary popup_load_cancel_button" onclick="closePopups();">Ok</button>
		</div>
	</div>
	
</div>

<div id="notification-container"></div>
