<script>
	function show_setting_menu(span) {
		menu = span.textContent.toLowerCase()
		for (item of document.getElementsByClassName("setting_menu_button")) {
			document.getElementById("setting_menu_"+item.textContent.toLowerCase()).classList.add("hidden");
			item.classList.remove("selected");
		}
		span.classList.add("selected");
		document.getElementById("setting_menu_"+menu).classList.remove("hidden");
	}
</script>
<style>
	#Model_Info {
		width: 100%;
	}
	#Story_Info {
		width: 100%;
	}
	#save_story[story_gamesaved="true"] {
		text: var(--disabled_button_text);
		background-color: var(--disabled_button_background_color);
		border-color: var(--disabled_button_border_color);
		filter: brightness(85%);
	}
	
</style>
<!-- top menu bar-->
<div class="menu_pin_area"></div>
<div class="tabrow">
	<span class="setting_menu_button selected" onclick="show_setting_menu(this);">Home</span>
	<span class="setting_menu_button" onclick="show_setting_menu(this);">Settings</span>
	<span class="setting_menu_button" onclick="show_setting_menu(this);">Interface</span>
	<span style="float: right;margin-right: 30px;padding: 0px 10px;" onclick="window.open('https://github.com/KoboldAI/KoboldAI-Client/wiki');">
		Help
		<icon class="material-icons-outlined" style="font-size:14px;position:relative;top:2px;">open_in_new</icon>
	</span>
</div>
<div class="flyout_menu_contents">

	<div id="setting_menu_home" class="settings_category_area">
		<div class="Model_Info">
			<div id="model_title">
				<span>
					<span class="var_sync_model_model">ReadOnly</span>
				</span>
			</div>
			<div id="text_runningmodel">
					<b>1) Model: </b>
			</div>
			<div style="text-align: center;">
				<button class="settings_button" onclick="socket.emit('load_model_button', {});">
					<span class="material-icons-outlined cursor" title="Load Model" style="font-size: 1.4em;">folder_open</span>
					<span> Load Model</span>
				</button>
				<select class="var_sync_model_selected_preset settings_select presets" onchange='sync_to_server(this)'><option>Preset</option></select>
			</div>
		</div>
		<div id="Story_Info">
			<hr/>
			<div class="story_title_area">
				<div class="story_title">
					<span>
						<span class="var_sync_story_story_name fullwidth" contenteditable=true onblur="sync_to_server(this);"></span>
					</span>
					<span>
						<span class="material-icons-outlined cursor" title="Download Story" onclick="document.getElementById('download_iframe').src = 'json';">file_download</span>
					</span>
				</div>
				<div id="text_storyname">
					<b>2) Story: </b>
				</div>
				<div class="story_title_icons">
					<button class="settings_button" onclick="socket.emit('new_story', '');">
						<span class="material-icons-outlined cursor" title="New Story">description</span>
						<span> New Story</span>
					</button>
					<button class="settings_button" onclick="socket.emit('load_story_list', '');">
						<span class="material-icons-outlined cursor" title="Load Story">folder_open</span>
						<span> Load Story</span>
					</button>
					<button class="settings_button var_sync_alt_story_gamesaved" onclick='socket.emit("save_story", null, (response) => {save_as_story(response);});'>
						<span class="material-icons-outlined cursor var_sync_alt_story_gamesaved" title="Save Story">save</span>
						<span> Save Story</span>
					</button>
					
					
				</div>
			</div>
			<hr/>
		</div>
		<div class="setting_tile_area">
		{% with menu='Home' %}
			{% with sub_path='' %}
				{% include 'settings item.html' %}
			{% endwith %}
		{% endwith %}
		</div>
		<div id="probabilities">
			
		</div>
	</div>
	<div id="setting_menu_settings" class="hidden settings_category_area">
		<div class="force_center">
			<select class="var_sync_model_selected_preset settings_select presets" onchange='sync_to_server(this)'><option>Preset</option></select>
		</div>
		{% with menu='Settings' %}
			<div class="collapsable_header" onclick="toggle_setting_category(this);">
				<h4 style="width:var(--flyout_menu_width);"><span class="material-icons-outlined cursor">expand_more</span> Generation</h4>
			</div>
			<div class="setting_tile_area">
				{% with sub_path='Generation' %}
					{% include 'settings item.html' %}
				{% endwith %}
			</div>
			
			<div class="collapsable_header" onclick="toggle_setting_category(this);">
				<h4 style="width:var(--flyout_menu_width);"><span class="material-icons-outlined cursor">expand_more</span> Sampling</h4>
			</div>
			<span class="help_text">Change how the AI decides what to say.</span>
			<div class="setting_tile_area">
				<div class="setting_container_single">
					<!---Top Row---->
					<span class="setting_label">
						<span>Samplers Order:&nbsp;</span><span class="helpicon material-icons-outlined" title="Changes the order of the samplers to have a considerably different effect than just leaving the samplers at their default order.">help_icon</span>
					</span>
					<!---Bottom Row---->
					<span class="setting_item">
						<div style="display:flex;flex-direction:row;">
							<ul id="sample_order_list" style="width:calc(var(--flyout_menu_width) - 60px);list-style-position: inside; padding: 0;">
								<li class="sample_order cursor" onclick="select_sample(this);">Repetition Penalty</li>
								<li class="sample_order cursor" onclick="select_sample(this);">Top K Sampling</li>
								<li class="sample_order cursor" onclick="select_sample(this);">Top A Sampling</li>
								<li class="sample_order cursor" onclick="select_sample(this);">Top P Sampling</li>
								<li class="sample_order cursor" onclick="select_sample(this);">Tail Free Sampling</li>
								<li class="sample_order cursor" onclick="select_sample(this);">Typical Sampling</li>
								<li class="sample_order cursor" onclick="select_sample(this);">Temperature</li>
							</ul>
							<div style="display:flex;flex-direction:column;justify-content:center;align-items:center;">
								<div class="material-icons-outlined cursor" onclick="move_sample('up');">arrow_upward</div>
								<div class="material-icons-outlined cursor" onclick="move_sample('down');">arrow_downward</div>
								
							</div>
						</div>
					</span>
				</div>
				{% with sub_path='Sampling' %}
					{% include 'settings item.html' %}
				{% endwith %}
			</div>
			
			<div class="collapsable_header" onclick="toggle_setting_category(this);">
				<h4 style="width:var(--flyout_menu_width);"><span class="material-icons-outlined cursor">expand_more</span> Repetition</h4>
			</div>
			<span class="help_text">Change how the AI combats repetition.</span>
			<div class="setting_tile_area">
				{% with sub_path='Repetition' %}
					{% include 'settings item.html' %}
				{% endwith %}
			</div>
			
			<div class="collapsable_header" onclick="toggle_setting_category(this);">
				<h4 style="width:var(--flyout_menu_width);"><span class="material-icons-outlined cursor">expand_more</span> Other</h4>
			</div>
			<div class="setting_tile_area">
				{% with sub_path='Other' %}
					{% include 'settings item.html' %}
				{% endwith %}
			</div>
			
			<div class="collapsable_header" onclick="toggle_setting_category(this);">
				<h4 style="width:var(--flyout_menu_width);"><span class="material-icons-outlined cursor">expand_more</span> Modifiers</h4>
			</div>
			<div class="setting_tile_area">
				{% with sub_path='Modifiers' %}
					{% include 'settings item.html' %}
				{% endwith %}
				<div class="setting_container">
					<!---Top Row---->
					<span class="setting_label">
						<span style="white-space: pre-wrap;">Soft Prompt: </span>
						<span class="helpicon material-icons-outlined" title="Changes how the AI decides what to output.">help_icon</span>
					</span>
					<!---Bottom Row---->
					<span class="setting_item">
						<!---<span class="material-icons-outlined cursor" onclick="socket.emit('load_softprompt_list', '');">folder_open</span> <span class="var_sync_system_spname"></span>--->
						<select autocomplete="off" id="sp" class="var_sync_system_splist var_sync_system_spfilename settings_select" style="width: 140px;margin-right:0px;padding-bottom: 0px;" onclick="socket.emit('load_softprompt', this.value);">
						</select>
						<span class="material-icons-outlined cursor" style="font-size: 18px;" title="Refresh List" onclick="socket.emit('sp_list_refresh', '');">autorenew</span>
					</span>
					<!---Slider Labels--->
					<span class="setting_minlabel"><span style="top: -4px; position: relative;"></span></span>
					<span class="setting_maxlabel"><span style="top: -4px; position: relative;"></span></span>
				</div>
				<div class="setting_container_single_wide">
					<!---Top Row---->
					<span class="setting_label">
						<span style="white-space: pre-wrap;">Enabled User Scripts: </span>
						<span class="helpicon material-icons-outlined" title="Allows for user scripts that modify the way the game functions">help_icon</span>
					</span>
					<!---Bottom Row---->
					<span class="setting_item">
						<div style="display: flex;flex-direction: row;">
							<select id="loaded_userscripts" class="var_sync_system_userscripts settings_select" multiple style="width:300px;"></select>
							<div style="display: flex;flex-direction: column;">
								<span class="material-icons-outlined cursor" style="font-size: 24px;" title="Unload File(s)" onclick="unload_userscripts();">delete</span>
								<span class="material-icons-outlined cursor" style="font-size: 24px;" title="Load File" onclick="socket.emit('load_userscripts_list', '');">upload_file</span>
							</div>
						</div>
					</span>
					<!---Slider Labels--->
					<span class="setting_minlabel"><span style="top: -4px; position: relative;"></span></span>
					<span class="setting_maxlabel"><span style="top: -4px; position: relative;"></span></span>
				</div>
			</div>
		{% endwith %}
		<div class="collapsable_header" onclick="toggle_setting_category(this);">
			<h4 style="width:var(--flyout_menu_width);"><span class="material-icons-outlined cursor">expand_more</span> Biasing</h4>
		</div>
		<span class="help_text">Influence the likelihood for the AI to output certain phrases.</span>
		<div id="biasing">
			<div class="bias_header">
				<div class="bias_header_phrase">Phrase</div>
				<div class="bias_header_score">Score</div>
				<div class="bias_header_comp_threshold">Completion Threshold</div>
			</div>
		</div>
	</div>
	<div id="setting_menu_interface" class="hidden settings_category_area">
		<div class="collapsable_header" onclick="toggle_setting_category(this);">
			<h4 style="width:var(--flyout_menu_width);"><span class="material-icons-outlined cursor">expand_more</span> UI</h4>
		</div>
		<div class="setting_tile_area">
			{% with menu='Interface' %}
				{% with sub_path='UI' %}
					{% include 'settings item.html' %}
				{% endwith %}
			{% endwith %}
			<div class="setting_container">
				<span class="setting_label">
					<span>Max Game Screen: &nbsp;</span><span class="helpicon material-icons-outlined" title="When enabled and both menus are un-pinned, the game screen will take up all avaialable space. When disabled, the game screen will be centered.">help_icon</span> 
				</span>
				<span class="setting_item">
					<input type=checkbox id="preserve_game_space_setting" data-size=mini data-onstyle=success data-toggle=toggle onchange="preserve_game_space(this.checked)"/>
				</span>
				<!---Slider Labels--->
				<span class="setting_minlabel"><span style="top: -4px; position: relative;"></span></span>
				<span class="setting_maxlabel"><span style="top: -4px; position: relative;"></span></span>
			</div>
			<div class="setting_container">
				<span class="setting_label">
					<span>Options on Right:&nbsp;</span><span class="helpicon material-icons-outlined" title="When enabled and only the story menu is pinned, the generated story options will be shown on the right instead of the left of the game text.">help_icon</span> 
				</span>
				<span class="setting_item">
					<input type=checkbox id="options_on_right" data-size=mini data-onstyle=success data-toggle=toggle onchange="options_on_right(this.checked)"/>
				</span>
				<!---Slider Labels--->
				<span class="setting_minlabel"><span style="top: -4px; position: relative;"></span></span>
				<span class="setting_maxlabel"><span style="top: -4px; position: relative;"></span></span>
			</div>
		</div>
		<div class="collapsable_header" onclick="toggle_setting_category(this);">
			<h4 style="width:var(--flyout_menu_width);"><span class="material-icons-outlined cursor">expand_more</span> Formatting</h4>
		</div>
		<div class="setting_tile_area">
			{% with menu='Interface' %}
				{% with sub_path='Formatting' %}
					{% include 'settings item.html' %}
				{% endwith %}
			{% endwith %}
		</div>
		<div class="collapsable_header" onclick="toggle_setting_category(this);">
			<h4 style="width:var(--flyout_menu_width);"><span class="material-icons-outlined cursor">expand_more</span> Theme</h4>
		</div>
		<div class="setting_tile_area" id="Theme">
			<select id="selected_theme" class="var_sync_system_theme_list" autocomplete="off" onchange="Change_Theme(this.value);">
			</select><span class="material-icons-outlined cursor" title="Refresh List" onclick="socket.emit('theme_list_refresh', '');">autorenew</span>
			<div id="palette_area">
				<b style="font-size: 20px;">Palette</b>
				<div id="save_theme_area" >
					<input type="text" id="save_theme_name" autocomplete="off" placeholder="New Theme Name"/>
					<span class="material-icons-outlined cursor" title="Save Theme" onclick='save_theme();'>save</span>
				</div>
				<div class="setting_tile_area" id="Palette">
					<table id="Palette_Table" border=1>
						<tr>
							<td></td>
							<td colspan=2><b>Main</b></td>
							<td colspan=2><b>Alternative</b></td>
						</tr>
						<tr>
							<td></td>
							<td>Background</td>
							<td>Text</td>
							<td>Background</td>
							<td>Text</td>
						</tr>
						<tr>
							<td>Primary</td>
							<td><input class="Theme_Input" autocomplete="off" type=color id="primary_palette" onchange="palette_color(this)"></td>
							<td><input class="Theme_Input" autocomplete="off" type=color id="on_primary_palette" onchange="palette_color(this)"></td>
							<td><input class="Theme_Input" autocomplete="off" type=color id="primary_container_palette" onchange="palette_color(this)"></td>
							<td><input class="Theme_Input" autocomplete="off" type=color id="on_primary_container_palette" onchange="palette_color(this)"></td>
						</tr>
						<tr>
							<td>Secondary</td>
							<td><input class="Theme_Input" autocomplete="off" type=color id="secondary_palette" onchange="palette_color(this)"></td>
							<td><input class="Theme_Input" autocomplete="off" type=color id="on_secondary_palette" onchange="palette_color(this)"></td>
							<td><input class="Theme_Input" autocomplete="off" type=color id="secondary_container_palette" onchange="palette_color(this)"></td>
							<td><input class="Theme_Input" autocomplete="off" type=color id="on_secondary_container_palette" onchange="palette_color(this)"></td>
						</tr>
						<tr>
							<td>Tertiary</td>
							<td><input class="Theme_Input" autocomplete="off" type=color id="tertiary_palette" onchange="palette_color(this)"></td>
							<td><input class="Theme_Input" autocomplete="off" type=color id="on_tertiary_palette" onchange="palette_color(this)"></td>
							<td><input class="Theme_Input" autocomplete="off" type=color id="tertiary_container_palette" onchange="palette_color(this)"></td>
							<td><input class="Theme_Input" autocomplete="off" type=color id="on_tertiary_container_palette" onchange="palette_color(this)"></td>
						</tr>
						<tr>
							<td>Error</td>
							<td><input class="Theme_Input" autocomplete="off" type=color id="error_palette" onchange="palette_color(this)"></td>
							<td><input class="Theme_Input" autocomplete="off" type=color id="on_error_palette" onchange="palette_color(this)"></td>
							<td><input class="Theme_Input" autocomplete="off" type=color id="error_container_palette" onchange="palette_color(this)"></td>
							<td><input class="Theme_Input" autocomplete="off" type=color id="on_error_container_palette" onchange="palette_color(this)"></td>
						</tr>
					</table>
					
				</div>
			</div>
			<div class="advanced_theme cursor" onclick='document.getElementById("advanced_theme_editor").classList.remove("hidden");'>
				<span>Advanced Theme</h4>
			</div>
		</div>

		<div class="collapsable_header" onclick="toggle_setting_category(this);">
			<h4 style="width:var(--flyout_menu_width);"><span class="material-icons-outlined cursor">expand_more</span> Tweaks</h4>
		</div>
		<div class="setting_tile_area" id="Tweaks">
			<span class="help_text">Small UI changes that can be mixed and matched.</span>
			<div class="tweak-container" tweak-path="hide-timing">
				<span>Hide timing information</span>
				<input type=checkbox class="setting_item_input" data-size="mini" data-onstyle="success" data-toggle="toggle">
			</div>
			<div class="tweak-container" tweak-path="hide-token-bar">
				<span>Hide token bar</span>
				<input type=checkbox class="setting_item_input" data-size="mini" data-onstyle="success" data-toggle="toggle">
			</div>
		</div>
	</div>
	<div id="settings_footer" class="settings_footer">
		<span>Execution Time: <span id="Execution Time"></span></span> | 
		<span>Remaining Time: <span class="var_sync_model_tqdm_rem_time"></span></span> | <span id="var_time"></span>
	</div>
</div>
