<script>
	function show_setting_menu(span) {
		menu = span.textContent.toLowerCase()
		for (item of document.getElementsByClassName("setting_menu_button")) {
			document.getElementById("setting_menu_"+item.textContent.toLowerCase()).classList.add("hidden");
			item.classList.remove("selected");
		}
		span.classList.add("selected");
		document.getElementById("setting_menu_"+menu).classList.remove("hidden");
	}
</script>
<style>
	#Model_Info {
		width: 100%;
	}
	#Story_Info {
		width: 100%;
	}
	#save_story[story_gamesaved="true"] {
		text: var(--disabled_button_text);
		background-color: var(--disabled_button_background_color);
		border-color: var(--disabled_button_border_color);
		filter: brightness(85%);
	}
	
</style>
<!-- top menu bar-->
<div class="menu_pin_area"></div>
<div class="tabrow">
	<span class="setting_menu_button selected" onclick="show_setting_menu(this);">Home</span>
	<span class="setting_menu_button" onclick="show_setting_menu(this);">Settings</span>
	<span class="setting_menu_button" onclick="show_setting_menu(this);">Interface</span>
	<span style="float: right;margin-right: 30px;" onclick="window.open('https://github.com/KoboldAI/KoboldAI-Client/wiki');">Help</span>
</div>
<div class="flyout_menu_contents">

	<div id="setting_menu_home" class="settings_category_area">
		<div id="Model_Info">
			<div>
				Running Model: <span class="var_sync_model_model">ReadOnly</span>
			</div>
			<div>
				<button class="btn action_button" onclick="socket.emit('load_model_button', {});">Load Model</button>
				<select class="var_sync_model_selected_preset settings_select presets" onchange='sync_to_server(this)'><option>Preset</option></select>
			</div>
		</div>
		<div id="Story_Info">
			<hr/>
			<div class="story_title_area">
				<span class="story_title">
					<b>Story Name: </b>
					<span class="var_sync_story_story_name fullwidth" contenteditable=true onblur="sync_to_server(this);"></span>
				</span>
				<div class="story_title_icons">
					<span class="material-icons-outlined cursor" title="New Story" onclick="socket.emit('new_story', '');">description</span>
					<span class="material-icons-outlined cursor" title="Load Story" onclick="socket.emit('load_story_list', '');">folder_open</span>
					<span class="material-icons-outlined cursor var_sync_alt_story_gamesaved" title="Save Story">save</span>
					<span class="material-icons-outlined cursor" title="Import Story" onclick="document.getElementById('import_aidg_club_popup').classList.remove('hidden');">cloud_download</span>
					<span class="material-icons-outlined cursor" title="Download Story" onclick="document.getElementById('download_iframe').src = 'json';">file_download</span>
				</div>
			</div>
			<hr/>
		</div>
		<div class="setting_tile_area">
		{% with menu='Home' %}
			{% with sub_path='' %}
				{% include 'settings item.html' %}
			{% endwith %}
		{% endwith %}
		</div>
	</div>
	<div id="setting_menu_settings" class="hidden settings_category_area">
		<div><select class="var_sync_model_selected_preset settings_select presets" onchange='sync_to_server(this)'><option>Preset</option></select></div>
		{% with menu='Settings' %}
			<div onclick="toggle_setting_category(this);">
				<h4 style="width:var(--flyout_menu_width);"><span class="material-icons-outlined cursor">expand_more</span> Generation</h4>
			</div>
			<div class="setting_tile_area">
				{% with sub_path='Generation' %}
					{% include 'settings item.html' %}
				{% endwith %}
			</div>
			
			<div onclick="toggle_setting_category(this);">
				<h4 style="width:var(--flyout_menu_width);"><span class="material-icons-outlined cursor">expand_more</span> Sampling</h4>
			</div>
			<div class="setting_tile_area">
				<div class="setting_container_single">
					<!---Top Row---->
					<span class="setting_label">
						Sample Order: 
						<span class="helpicon">
							?
							<span class="helptext">
								Sample Order Tooltip
							</span>
						</span>
					</span>
					<!---Bottom Row---->
					<span class="setting_item">
						<div style="display:flex;flex-direction:row;">
							<ul id="sample_order_list" style="width:calc(var(--flyout_menu_width) - 60px);">
								<li class="sample_order cursor" onclick="select_sample(this);">Top-k Sampling</li>
								<li class="sample_order cursor" onclick="select_sample(this);">Top-a Sampling</li>
								<li class="sample_order cursor" onclick="select_sample(this);">Top-p Sampling</li>
								<li class="sample_order cursor" onclick="select_sample(this);">Tail-free Sampling</li>
								<li class="sample_order cursor" onclick="select_sample(this);">Typical Sampling</li>
								<li class="sample_order cursor" onclick="select_sample(this);">Temperature</li>
							</ul>
							<div style="display:flex;flex-direction:column;justify-content:center;align-items:center;">
								<div class="material-icons-outlined cursor" onclick="move_sample('up');">arrow_upward</div>
								<div class="material-icons-outlined cursor" onclick="move_sample('down');">arrow_downward</div>
								
							</div>
						</div>
					</span>
					<!---Slider Labels--->
					<span class="setting_minlabel"><span style="top: -4px; position: relative;"></span></span>
					<span class="setting_maxlabel"><span style="top: -4px; position: relative;"></span></span>
				</div>
				{% with sub_path='Sampling' %}
					{% include 'settings item.html' %}
				{% endwith %}
			</div>
			
			<div onclick="toggle_setting_category(this);">
				<h4 style="width:var(--flyout_menu_width);"><span class="material-icons-outlined cursor">expand_more</span> Repetition</h4>
			</div>
			<div class="setting_tile_area">
				{% with sub_path='Repetition' %}
					{% include 'settings item.html' %}
				{% endwith %}
			</div>
			
			<div onclick="toggle_setting_category(this);">
				<h4 style="width:var(--flyout_menu_width);"><span class="material-icons-outlined cursor">expand_more</span> Other</h4>
			</div>
			<div class="setting_tile_area">
				{% with sub_path='Other' %}
					{% include 'settings item.html' %}
				{% endwith %}
			</div>
			
			<div onclick="toggle_setting_category(this);">
				<h4 style="width:var(--flyout_menu_width);"><span class="material-icons-outlined cursor">expand_more</span> Modifiers</h4>
			</div>
			<div class="setting_tile_area">
				{% with sub_path='Modifiers' %}
					{% include 'settings item.html' %}
				{% endwith %}
				<div class="setting_container">
					<!---Top Row---->
					<span class="setting_label">
						Soft Prompt: 
						<span class="helpicon">
							?
							<span class="helptext">
								Soft Prompt Tooltip
							</span>
						</span>
					</span>
					<!---Bottom Row---->
					<span class="setting_item">
						<span class="material-icons-outlined cursor" onclick="socket.emit('load_softprompt_list', '');">folder_open</span> <span class="var_sync_system_spname"></span>
					</span>
					<!---Slider Labels--->
					<span class="setting_minlabel"><span style="top: -4px; position: relative;"></span></span>
					<span class="setting_maxlabel"><span style="top: -4px; position: relative;"></span></span>
				</div>
			</div>
		{% endwith %}
		<div onclick="toggle_setting_category(this);">
			<h4 style="width:var(--flyout_menu_width);"><span class="material-icons-outlined cursor">expand_more</span> Biasing</h4>
		</div>
		<div id="biasing">
			<div class="bias_header">
				<div class="bias_header_phrase">Phrase</div>
				<div class="bias_header_score">Score</div>
				<div class="bias_header_comp_threshold">Completion Threshold</div>
			</div>
		</div>
	</div>
	<div id="setting_menu_interface" class="hidden settings_category_area">
		<div onclick="toggle_setting_category(this);">
			<h4 style="width:var(--flyout_menu_width);"><span class="material-icons-outlined cursor">expand_more</span> UI</h4>
		</div>
		<div class="setting_tile_area">
			{% with menu='Interface' %}
				{% with sub_path='UI' %}
					{% include 'settings item.html' %}
				{% endwith %}
			{% endwith %}
			<div class="setting_container">
				<span class="setting_label">
					Maximize Game Text Space: 
					<span class="helpicon">
						?
						<span class="helptext">
							When enabled and both menus are un-pinned, the game screen will take up all avaialable space. When disabled, the game screen will be centered.
						</span>
					</span>
				</span>
				<span class="setting_item">
					<input type=checkbox id="preserve_game_space_setting" data-size=mini data-onstyle=success data-toggle=toggle onchange="preserve_game_space(this.checked)"/>
				</span>
				<!---Slider Labels--->
				<span class="setting_minlabel"><span style="top: -4px; position: relative;"></span></span>
				<span class="setting_maxlabel"><span style="top: -4px; position: relative;"></span></span>
			</div>
			<div class="setting_container">
				<span class="setting_label">
					Keep options on Right: 
					<span class="helpicon">
						?
						<span class="helptext">
							When enabled and only the story menu is pinned, the generated story options will be shown on the right instead of the left of the game text.
						</span>
					</span>
				</span>
				<span class="setting_item">
					<input type=checkbox id="options_on_right" data-size=mini data-onstyle=success data-toggle=toggle onchange="options_on_right(this.checked)"/>
				</span>
				<!---Slider Labels--->
				<span class="setting_minlabel"><span style="top: -4px; position: relative;"></span></span>
				<span class="setting_maxlabel"><span style="top: -4px; position: relative;"></span></span>
			</div>
		</div>
		<div onclick="toggle_setting_category(this);">
			<h4 style="width:var(--flyout_menu_width);"><span class="material-icons-outlined cursor">expand_more</span> Theme</h4>
		</div>
		<div class="setting_tile_area">
			
		</div>
		<div onclick="toggle_setting_category(this);">
			<h4 style="width:var(--flyout_menu_width);"><span class="material-icons-outlined cursor">expand_more</span> Formatting</h4>
		</div>
		<div class="setting_tile_area">
			
		</div>
	</div>
</div>