<script>
	function show_story_menu(menu_button, span) {
		for (item of document.getElementsByClassName("story_menu_button")) {
			if (item === menu_button) {
				item.classList.add("selected");
			} else {
				item.classList.remove("selected");
			}
		}
		for (item of document.getElementsByClassName("story_category_area")) {
			if (item.id == span) {
				item.classList.remove("hidden");
			} else {
				item.classList.add("hidden");
			}
		}
	}
</script>
<div>Execution Time: <span id="Execution Time"></span></div>
<div>Remaining Time: <span class="var_sync_model_tqdm_rem_time"></span></div>
<hr/>
<div class="tabrow nomenu_icon">
	<span class="story_menu_button selected" onclick="show_story_menu(this, 'story_menu_memory');">Memory</span>
	<span class="story_menu_button" onclick="show_story_menu(this, 'story_menu_author');">Author's Note</span>
	<span class="story_menu_button" onclick="show_story_menu(this, 'story_menu_notes');">Notes</span>
	<span class="story_menu_button" onclick="show_story_menu(this, 'story_menu_wi');">World Info</span>
</div>

<div id="story_menu_memory" class="story_category_area">
	<div id="Memory">
		Memory:<br/>
		<textarea rows=5 id="memory" class="var_sync_story_memory var_sync_alt_story_memory_length fullwidth" onchange='sync_to_server(this);'></textarea>
	</div>
</div>
<div id="story_menu_author" class="story_category_area hidden">
	<div id="author_notes">
		Author's Notes:<br/>
		<textarea rows=5 id="authors_notes" class="var_sync_story_authornote var_sync_alt_story_authornote_length fullwidth" onchange='sync_to_server(this);'></textarea><br/>
		Template:<br/>
		<input type=text class="var_sync_story_authornotetemplate fullwidth" onchange='sync_to_server(this);'><br/>
		andepth<br/>
		<input type="range" min="0" max="5" step="1" 
					   value="3" class="setting_item_input var_sync_story_andepth"
					   onchange='sync_to_server(this);'>
		<span style='display: grid; grid-template-areas: "minlabel maxlabel"'>
			<span class=setting_minlabel>0</span>
			<span class=setting_maxlabel>5</span>
		</span>
	</div>
</div>
<div id="story_menu_notes" class="story_category_area hidden">
	<div id="Notes">
		Notes (ignored by AI):<br/>
		<textarea rows=20 class="var_sync_story_notes fullwidth" onchange='sync_to_server(this);'></textarea>
	</div>
</div>
<div id="story_menu_wi" class="story_category_area hidden">
	<span id="world_info_folder_root" class="WI_Folder"><h2>root</h2></span>
</div>
