<div class="tabrow nomenu_icon">
	<span id="story_flyout_tab_memory" class="story_menu_button tab tab-story selected" tab-target="story_menu_memory" onclick="selectTab(this);">Memory</span>
	<span id="story_flyout_tab_wi" class="story_menu_button tab tab-story" tab-target="story_menu_wi" onclick="selectTab(this);">World Info</span>
	<span id="story_flyout_tab_author" class="story_menu_button tab tab-story" tab-target="story_menu_author" onclick="selectTab(this);">Author's Note</span>
	<span id="story_flyout_tab_notes" class="story_menu_button tab tab-story" tab-target="story_menu_notes" onclick="selectTab(this);">Notes</span>
</div>
<div class="flyout_menu_contents">
	<div id="story_menu_memory" class="story_category_area tab-target tab-target-story">
		<div id="Memory">
			<h4 class="section_header"><label for="memory">Memory</label></h4>
			<div class="help_text">
				Important information the AI should always keep in mind.
			</div>
			<textarea rows=20 id="memory" class="var_sync_story_memory var_sync_alt_story_memory_length fullwidth" onchange='sync_to_server(this);' oninput="autoResize(this)" autocomplete="off"></textarea>

			<div id="Mem-Attention-Bias" class="var_sync_alt_system_experimental_features">
				<h4 class="section_header"><label for="Mem-Attention-Bias">Attention Bias Test</label></h4>
				<span class="help_text">
					<b>Note: This only works on OPT models for now! Patches will be written for other models once it's known this actually has a positive effect. Upon first use of this bias, you should see "Applying attention bias" in the console.</b><br>
					This setting <i>may</i> change how the AI pays attention to memory. Any high number in the ballpark of 15 may cause incoherence. The option to select higher numbers is present for experimentation.
				</span>
				<input type="range" oninput="memAttnInput(this.value);" onchange="sync_to_server(this);" class="var_sync_story_memory_attn_bias sync_as_float" value="1" min="1" max="50" step="0.1"></input>
				<span id="memattnbiaslabel">1</span>
				<script>
					const memAttn = document.querySelector("#memattnbiaslabel");
					function memAttnInput(val) {
						memAttn.innerText = val;
					}
				</script>
			</div>
		</div>
		<div id="Auto-Memory" class="var_sync_alt_system_experimental_features">
			<h4 class="section_header"><label for="auto_memory">Auto-Memory (non-functional)</label></h4>
			<div class="help_text">
				What the system would use for automatic memory summarized from the game
			</div>
			<button class="settings_button" onclick="socket.emit('refresh_auto_memory', {});">Generate</button>
			<textarea rows=20 id="auto_memory" class="var_sync_story_auto_memory fullwidth" oninput="autoResize(this)" autocomplete="off"></textarea>
		</div>
	</div>
	<div id="story_menu_author" class="story_category_area tab-target tab-target-story hidden">
		<div id="author_notes">
			<h4 class="section_header">Author's Note</h4>
			<div class="help_text">
				Heavily influences the direction and style of the AI's writing.
			</div>

			<label for="authors_notes_template">Template:</label><br/>
			<input autocomplete="off" id=authors_notes_template type=text placeholder="[Author's note: <|>]" class="var_sync_story_authornotetemplate fullwidth" onchange='sync_to_server(this);'><br/>
			<label for="authors_notes">Author's Notes:</label><br/>
			<textarea autocomplete="off" rows=16 id="authors_notes" class="var_sync_story_authornote var_sync_alt_story_authornote_length fullwidth" oninput="autoResize(this)" onchange='sync_to_server(this);'></textarea><br/>

			<div class="setting_tile_area">
				{% with menu='author_notes' %}
					{% with sub_path='' %}
						{% include 'settings item.html' %}
					{% endwith %}
				{% endwith %}
			</div>

			<h4 class="section_header">Genre</h4>
			<div class="help_text">Styles the AI will attempt to imitate. Effectiveness depends on model.</div>
			<input id="genre-input" class="fullwidth" placeholder="Fantasy" autocomplete="off" spellcheck="false">
			<div id="genre-suggestion-super-container">
				<div id="genre-suggestion-container">
					<span class="genre-suggestion">Animals</span>
					<span class="genre-suggestion">Amish</span>
					<span class="genre-suggestion">Asian</span>
					<span class="genre-suggestion">Buddhist</span>
				</div>
			</div>
			<div id="genre-container"></div>

			<div id="An-Attention-Bias" class="var_sync_alt_system_experimental_features">
				<h4 class="section_header"><label for="An-Attention-Bias">Attention Bias Test</label></h4>
				<span class="help_text">See disclaimer in memory page.</span>
				<input type="range" oninput="anAttnInput(this.value);" onchange="sync_to_server(this);" class="var_sync_story_an_attn_bias sync_as_float" value="1" min="1" max="50" step="0.1"></input>
				<span id="anattnbiaslabel">1</span>
				<script>
					const anAttn = document.querySelector("#anattnbiaslabel");
					function anAttnInput(val) {
						anAttn.innerText = val;
					}
				</script>
			</div>
		</div>
	</div>
	<div id="story_menu_notes" class="story_category_area tab-target tab-target-story hidden">
		<div id="Notes">
			<h4 class="section_header"><label for="notes">Notes</label></h4>
			<div class="help_text">
				Notes about the story. These notes are not read by the AI!
			</div>
			<textarea id="notes" autocomplete="off" rows=20 class="var_sync_story_notes fullwidth" onchange='sync_to_server(this);' oninput="autoResize(this)"></textarea>
		</div>
	</div>
	<div id="story_menu_wi" class="story_category_area tab-target tab-target-story hidden">
		<h4 class="section_header" style="margin-left: 12px;">World Info</h4>
		<div class="help_text" style="margin-left: 20px;">
			Lore information, which the AI recalls with the mention of certain words.
			<span class="helpicon material-icons-outlined" tooltip="Use this instead of Memory for information on things like characters, objects, events, places, and anything else with detail.">help_icon</span>
		</div>
		<div class="setting_tile_area wi_settings">
		{% with menu='World Info' %}
			{% with sub_path='' %}
				{% include 'settings item.html' %}
			{% endwith %}
		{% endwith %}
		</div>
		<div id="WI_Area">
			<span id="world_info_folder_New Folder" class="WI_Folder">
				<h2>
					<span id="world_info_folder_collapse_root" class="wi_folder_collapser material-icons-outlined" folder="root">expand_more</span>
					<span id="world_info_folder_expand_root" class="wi_folder_collapser material-icons-outlined hidden" folder="root">chevron_right</span>
					<span class="material-icons-outlined" folder="root">folder</span>
					<span class="wi_title" original_text="root" contenteditable="true">root</span>
				</h2>
				<span class="wi_add_button " onclick='create_new_wi_entry(this.getAttribute("folder"));'>
					<span class="material-icons-outlined">post_add</span>
					<span class="wi_add_text" folder="root">Add World Info Entry</span>
				</span>
			</span>
		</div>
	</div>
	<div id="token-breakdown-container" class="settings_footer" style="padding-top: 10px;">
		<div class="token_breakdown" onclick='socket.emit("update_tokens", document.getElementById("input_text").value);openPopup("context-viewer");'>
			<div id="soft_prompt_tokens" style="width:0%; background-color: var(--context_colors_soft_prompt);"></div>
			<div id="genre_tokens" style="width:40%; background-color: var(--context_colors_genre);"></div>
			<div id="memory_tokens" style="width:40%; background-color: var(--context_colors_memory);"></div>
			<div id="authors_notes_tokens" style="width:10%; background-color: var(--context_colors_authors_notes);"></div>
			<div id="world_info_tokens" style="width:20%; background-color: var(--context_colors_world_info);"></div>
			<div id="prompt_tokens" style="width:40%; background-color: var(--context_colors_prompt);"></div>
			<div id="game_text_tokens" style="width:10%; background-color: var(--context_colors_game_text);"></div>
			<div id="submit_tokens" style="width:20%; background-color: var(--context_colors_submit);"></div>
			<div id="unused_tokens" style="width:20%; background-color: var(--context_colors_unused);"></div>
		</div>
	</div>
</div>
