<!---------------- World Info Card ---------------------->
<div draggable="true" class="world_info_card" id="world_info_">
	<div class="world_info_title_area">
		<div>
			<div class="world_info_image_container">
				<span
					class="placeholder material-icons-outlined"
					context-menu="wi-img-upload-button"
					tooltip="Upload a picture for this World Info entry"
				>add</span>
				<img class="world_info_image">
			</div>
			<div>
				<h4
					draggable="true"
					ondragstart="event.preventDefault();event.stopPropagation();"
					id="world_info_title_"
					class="world_info_title"
					onfocus="this.parentElement.parentElement.setAttribute('draggable', 'false');this.setAttribute('draggable', 'false');"
				></h4>
				<span class="wi-type-leadup">is a</span>
				<span
					class="world_info_item_type"
					contenteditable="true"
					data-placeholder="..."
					spellcheck="false"
				></span>
				<span
					class="helpicon material-icons-outlined"
					tooltip='Please enter a noun that describes this entry. For example, "person", "weapon", or "building". This will be used with the Generate Content button below.'
				>help_icon</span>
			</div>
		</div>
		<span id="world_info_delete_" class="world_info_delete material-icons-outlined">close</span>
	</div>

	<div class="world_info_upper_container world_info_tag_area">
		<div class="world_info_wpp_toggle_area" id="world_info_wpp_toggle_area_">
			Use W++
		</div>

		<select class="world_info_type settings_select">
			<option>Keywords</option>
			<option>Always On</option>
			<option>Chat Character</option>
			<option>Commentator</option>
		</select>
	</div>


	<div id="world_info_tags_" class="world_info_tag_area world_info_tag_primary_area">
		<div>Requires one of:</div>
	</div>
	<div id="world_info_secondtags_" class="world_info_tag_area world_info_tag_secondary_area">
		<div>And (if present):</div>
	</div>
	<div class="world_info_tag_area hidden world_info_wpp_area" id="world_info_wpp_area_">
		<!--this part is very sensitive to location. Javascript uses parents to find the above tag for each of the inputs, so don't add stuff without messing with JS-->
		<select id="wpp_format_" class="settings_select wpp_format">
			<option>W++</option>
			<option>Square Bracket Format (SBF)</option>
		</select>
		<table>
			<tr>
				<td>Type:</td>
				<td><input draggable="true" type=text class="wpp_type" id="wpp_type_" 
				           onchange="do_wpp(this.parentElement.parentElement.parentElement.parentElement.parentElement)"
						   onfocus="console.log('focus');this.parentElement.parentElement.parentElement.parentElement.parentElement.setAttribute('draggable', 'false');this.setAttribute('draggable', 'false');"
						   onblur="console.log('blur');this.parentElement.parentElement.parentElement.parentElement.parentElement.setAttribute('draggable', 'true');this.setAttribute('draggable', 'true');"
						   ondragstart="event.preventDefault();event.stopPropagation();" ></td>
			</tr>
			<tr>
				<td>Name:</td>
				<td><input draggable="true" ondragstart="event.preventDefault();event.stopPropagation();" type=text class="wpp_name" id="wpp_name_" 
						   onchange="do_wpp(this.parentElement.parentElement.parentElement.parentElement.parentElement)"
						   onfocus="this.parentElement.parentElement.parentElement.parentElement.parentElement.setAttribute('draggable', 'false');this.setAttribute('draggable', 'false');"
						   onblur="this.parentElement.parentElement.parentElement.parentElement.parentElement.setAttribute('draggable', 'true');this.setAttribute('draggable', 'true');"></td>
			</tr>
		</table>
		<div class="wpp_attributes_area"></div>
	</div>
	<div id="world_info_basic_text_" class="world_info_basic_text_area">
		<div class="world_info_label_container wi-lc-text">
			<span class="wi-ui-label">Text</span>
			<span class="material-icons-outlined generate-button" tooltip="Generate Content">
				smart_toy
			</span>
		</div>
		<textarea draggable="true" ondragstart="event.preventDefault();event.stopPropagation();" id="world_info_entry_text_" class="world_info_text world_info_entry_text fullwidth" oninput="autoResize(this, 60)" 
		onfocus="this.parentElement.parentElement.setAttribute('draggable', 'false');this.setAttribute('draggable', 'false');autoResize(this, 60)" 
		onblur="this.parentElement.parentElement.setAttribute('draggable', 'true');this.setAttribute('draggable', 'true');this.style.height='60px';"></textarea>
	</div>
	<div id="world_info_entry_w++_" class="hidden">
		<input draggable="true" ondragstart="event.preventDefault();event.stopPropagation();" type=text placeholder="Type" 
			   onfocus="this.parentElement.parentElement.setAttribute('draggable', 'false');this.setAttribute('draggable', 'false');"
			   onblur="this.parentElement.parentElement.setAttribute('draggable', 'true');this.setAttribute('draggable', 'true');"/>
		<input type=text placeholder="Name"
		       onfocus="this.parentElement.parentElement.setAttribute('draggable', 'false');"
			   onblur="this.parentElement.parentElement.setAttribute('draggable', 'true');"/>
		<div>
			<input draggable="true" ondragstart="event.preventDefault();event.stopPropagation();" type=text placeholder="attribute"
				   onfocus="this.parentElement.parentElement.parentElement.setAttribute('draggable', 'false');this.setAttribute('draggable', 'false');"
			       onblur="this.parentElement.parentElement.parentElement.setAttribute('draggable', 'true');this.setAttribute('draggable', 'true');"/>
			<input type=text placeholder="value"/>
		</div>
	</div>
	<div>
		<div class="world_info_label_container wi-lc-comment">
			<span class="wi-ui-label">Comment</span>
			<padding></padding>
		</div>
		<textarea draggable="true" ondragstartondragstart="event.preventDefault();event.stopPropagation();" rows=1 id="world_info_comment_" 
				  class="world_info_text world_info_comment fullwidth" oninput="autoResize(this, 60)" onfocus="autoResize(this, 60)" onblur="this.style.height='60px';"
				  onfocus="this.parentElement.parentElement.setAttribute('draggable', 'false');this.setAttribute('draggable', 'false');;"
			      onblur="this.parentElement.parentElement.setAttribute('draggable', 'true');this.setAttribute('draggable', 'true');"></textarea>
	</div>
</div>
<!---------------- Phrase Bias ---------------------->
<div class="bias_card template">
	<div class="bias_top">
		<input class="bias_phrase" placeholder="Word or Phrase to Bias" onchange="save_bias(this);"/>
		<span class="close_button material-icons-outlined">close</span>
	</div>

	<div class="hitbox">
		<span class="bias_label">Bias Amount</span>
		<div class="bias_score bias_slider">
			<div class="bias_slider_bar">
				<input type="range" min="-50" max="50" keyboard-step="0.1" step="0.01" value="0" class="setting_item_input"/>
			</div>
			<div class="bias_slider_labels">
				<span class="bias_slider_min">-50</span>
				<div class="bias_slider_centerlayer">
					<span class="bias_slider_cur" contenteditable="true">0</span>
				</div>
				<div class="bias_slider_max">50</div>
			</div>
		</div>
	</div>

	<div class="hitbox">
		<span class="bias_label">
			Completion Threshold
			<span class="helpicon material-icons-outlined" tooltip="Amount of tokens that must match the phrase before it is force-completed.">help_icon</span>
		</span>
		<div class="bias_comp_threshold bias_slider">
			<div class="bias_slider_bar">
				<input type="range" min="0" max="10" step="1" value="10" class="setting_item_input"/>
			</div>
			<div class="bias_slider_labels">
				<div class="bias_slider_min">0</div>
				<div class="bias_slider_centerlayer">
					<span class="bias_slider_cur" contenteditable="true">10</span>
				</div>
				<div class="bias_slider_max">10</div>
			</div>
		</div>
	</div>
</div>
<!---------------- Model Settings ---------------------->
<div id="blank_model_settings" class="setting_container_model">
	<span class="setting_label">
		<span id="blank_model_settings_label">:&nbsp;</span><span id="blank_model_settings_tooltip" class="helpicon material-icons-outlined" style="text-align: left;" tooltip="">help_icon</span>
	</span>
	<input autocomplete="off" class="setting_value" id="blank_model_settings_value_slider_number">
	<span class="setting_item">
		<input type="range" id="blank_model_settings_slider" class="setting_item_input blank_model_settings_input model_settings_input">
		<!--<input type=checkbox id="blank_model_settings_toggle" class="setting_item_input blank_model_settings_input model_settings_input" data-size="mini" data-onstyle="success" data-toggle="toggle">-->
		<span id="blank_model_settings_toggle"></span>
		<select id="blank_model_settings_dropdown" class="settings_select blank_model_settings_input model_settings_input"></select>
		<input type=password id="blank_model_settings_password" class="settings_select blank_model_settings_input model_settings_input">
		<input id="blank_model_settings_text" class="settings_select blank_model_settings_input model_settings_input">
	</span>
	<span class="setting_minlabel"><span style="position: relative;" id="blank_model_settings_min_label"></span></span>
	<span class="setting_maxlabel"><span style="position: relative;" id="blank_model_settings_max_label"></span></span>
	</span>
</div>